{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}
<script>
  $(document).ready(function () {
    ClassicEditor
      .create(
        document.querySelector('#domain_risk_description'),
        {
          language: {
            // The UI will be English.
            ui: 'es',

            // But the content will be edited in Arabic.
            content: 'es'
          }
        }
      )
      .then(editor => {
        const wordCountPlugin = editor.plugins.get('WordCount');
        const wordCountWrapper = document.getElementById('word-count');
        wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);
      })
      .catch(error => {
      });
  });
</script>
{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Nuevo Dominio de Riesgo' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-6">
            <fieldset>
              <legend>{% trans 'Datos del Dominio de Riesgo' %}</legend>
              <div class="row mb-4">
                <div class="col-12 col-md-4 mb-4">
                  {{ form.ref|as_crispy_field }}
                </div>
                <div class="col-12 col-md-8 mb-4">
                  {{ form.name|as_crispy_field }}
                </div>
                <div class="col-12 mb-4">
                  <fieldset>
                    <legend>{% trans 'Descripción' %}</legend>
                    {{ form.description|as_crispy_field }}
                    <div id="word-count"></div>
                  </fieldset>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      <!--end::Body-->

      <div class="card-footer py-6">
        <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
        <a href="{% url 'domain_risks:ga_domain_risk_detail' self.object.pk %}"
          class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
      </div>
    </form>

</div>
<!--end::Container-->

{% endblock content %}