{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Dominio de Riesgo' %}: {{ domain_risk.name }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
      <div class="row mb-8">
        <!--begin::Col-->
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">{% trans 'Referencia' %}</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ domain_risk.ref }}</span>
          </div>
        </div>
        <!--end::Col-->
      </div>
      
      <div class="row mb-8">
        <!--begin::Col-->
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">{% trans 'Nombre' %}</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ domain_risk.name }}</span>
          </div>
        </div>
        <!--end::Col-->
      </div>

      <div class="row mb-8">
        <!--begin::Col-->
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">{% trans 'Descripción' %}</div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ domain_risk.description|safe }}</span>
          </div>
        </div>
        <!--end::Col-->
      </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'domain_risks:ga_domain_risk_update' domain_risk.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
      <a href="{% url 'domain_risks:ga_domain_risk_list' %}" class="btn btn-sm btn-secondary ms-2"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Riesgos maestros asociados' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if domain_risk.risks.all %}
    <table id="domain_risk_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th class="text-center">{% trans 'REF' %}</th>
          <th>{% trans 'Nombre' %}</th>
          <th width="60%">{% trans 'Descripción' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for risk in domain_risk.risks.all %}
        <tr>
          <td class="text-center"><a href="{% url 'risk_masters:ga_risk_master_detail' risk.pk %}"><i
                class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
          <td class="text-center">{{ risk.ref }}</td>
          <td>{{ risk.name }}</td>
          <td>{{ risk.description|striptags|safe|truncatechars:200 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen riesgos maestros asociados a este dominio de riesgo' %}.</div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'domain_risks:ga_domain_risk_update' domain_risk.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-plus-lg"></i>
      {% trans 'Añadir' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}