{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Dominio de Riesgo' %}: {{ domain_risk.name }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
      <div class="row mb-8">
        <!--begin::Col-->
        <div class="col-xl-2">
          <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ domain_risk.ref }}</span>
          </div>
        </div>
        <!--end::Col-->
      </div>
      
      <div class="row mb-8">
        <!--begin::Col-->
        <div class="col-xl-2">
          <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Nombre' %}</span></div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ domain_risk.name }}</span>
          </div>
        </div>
        <!--end::Col-->
      </div>

      <div class="row mb-8">
        <!--begin::Col-->
        <div class="col-xl-2">
          <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Descripción' %}</span></div>
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ domain_risk.description|safe }}</span>
          </div>
        </div>
        <!--end::Col-->
      </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'domain_risks:ga_domain_risk_update' domain_risk.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'domain_risks:ga_domain_risk_delete' domain_risk.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a>
      <a href="#" class="btn btn-sm btn-secondary ms-2 backHistory"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Riesgos Maestros (N1) asociados' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if domain_risk.risks.all %}
    <table id="domain_risk_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th class="text-center" width="15%">{% trans 'REF' %}</th>
          <th width="30%">{% trans 'Nombre' %}</th>
          <th width="5%">{% trans 'Descripción' %}</th>
          <th>{% trans 'Dominio de Riesgo' %}</th>
          <th class="text-center">{% trans 'Nº de Riesgos (N2)' %}</th>
          <th class="text-center">{% trans 'Riesgos (N2)' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for risk in domain_risk.risks.all %}
        <tr>
          <tr>
              <td class="text-center align-middle"><a href="{% url 'risks_masters:ga_risk_master_detail' risk.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
              <td class="text-center align-middle">{{ risk.ref }}</td>
              <td class="align-middle">{{ risk.name|striptags|safe|truncatechars:200 }}</td>
              <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.description }}"></i></td>
              <td class="align-middle"><a href="{% url 'domain_risks:ga_domain_risk_detail' risk.domain_risk.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.domain_risk.name }}">{{ risk.domain_risk.ref }}</span></a></td>
              <td class="text-center align-middle"><span class="badge badge-info">{{ risk.risks.count }}</span></td>
              <td class="text-center align-middle">
                {% for r1 in risk.risks.all %}
                  <div style="margin: 5px;">
                  <a href="{% url 'risks:ga_risk_detail' r1.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ r1.name }}">{{ r1.ref }}</span></a>
                  </div>
                {% endfor %}
              </td>
            </tr>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen Riesgos Maestros (N1) asociados a este dominio de riesgo' %}.</div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'risks:ga_risk_create' domain_risk.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-plus-lg"></i>
      {% trans 'Añadir' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}