{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}
<style> 
  .custom-tooltip {
  --bs-tooltip-bg: var(--bs-secondary);
}
.tooltip-inner {
    max-width: 500px !important;
}
</style>
<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }} </div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th class="text-center" width="15%">{% trans 'REF' %}</th>
          <th width="30%">{% trans 'Nombre' %}</th>
          <th width="5%">{% trans 'Descripción' %}</th>
          <th>{% trans 'Dominio de Riesgo' %}</th>
          <th class="text-center">{% trans 'Nº de Riesgos (N2)' %}</th>
          <th class="text-center">{% trans 'Riesgos (N2)' %}</th>
        </tr>
      </thead>
      <tbody>
          {% for risk in risks_masters %}
          <tr>
            <td class="text-center align-middle"><a href="{% url 'risks_masters:ga_risk_master_detail' risk.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
            <td class="text-center align-middle">{{ risk.ref }}</td>
            <td class="align-middle">{{ risk.name|striptags|safe|truncatechars:200 }}</td>
            <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.description }}"></i></td>
            <td class="align-middle"><span><a href="{% url 'domain_risks:ga_domain_risk_detail' risk.domain_risk.pk %}">{{ risk.domain_risk.name }}</a></span></td>
            <td class="text-center align-middle"><span class="badge badge-info">{{ risk.risks.count }}</span></td>
            <td class="text-center align-middle">
              {% for r1 in risk.risks.all %}
                <div style="margin: 5px;">
                <a href="{% url 'risks:ga_risk_detail' r1.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ r1.name }}">{{ r1.ref }}</span></a>
                </div>
              {% endfor %}
            </td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'risks_masters:ga_risk_master_create' %}" class="btn btn-sm btn-primary">
      <i class="bi bi-plus-lg"></i>
      {% trans 'Nuevo' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}