{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Datos del Control' %}: {{ control.ref }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-4">
        <fieldset>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.ref }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo de control' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_control_type_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Frecuencia' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_control_frequency_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Key control' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.key_control|yesno:_("Si, No") }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'ELC' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.is_elc|yesno:_("Si, No") }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
        </fieldset>
      </div>
      <div class="col col-md-8">
        <fieldset>
          <div class="row mb-8 justify-content-start"  style="margin-bottom:.5rem !important;">
            <!--begin::Col-->
            <div class="col-xl-3">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominios de Riesgo)' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->            
            {% if control.risks.count %}
              {% for domain_risk in control.domain_risks_objects %}
                {% if not forloop.first and forloop.counter0|divisibleby:3 %}
                  </div>
                  <div class="row mb-8 justify-content-start" style="margin-bottom:.5rem !important;">
                    <div class="col-xl-3">
                      <div class="fs-6 fw-semibold"></div>
                    </div>
                  {% endif %}
                    <div class="col-xl-3">
                      <div class="fs-6 fw-semibold"><a href="{% url 'domain_risks:ga_domain_risk_detail' domain_risk.pk %}"><span class="badge badge-primary text-wrap" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ domain_risk.name }}">{{ domain_risk.ref }}</span></a></div>
                    </div>
              {% endfor %}
                
            {% else %}
              <div class="col-xl-6">
                <div class="fs-6 fw-semibold"><span class="badge badge-danger text-wrap">{% trans 'Sin riesgos asociados' %}</span></div>
              </div>
            {% endif %} 
          </div>
          <div class="row mb-8 justify-content-start"  style="margin-bottom:.5rem !important;">
            <!--begin::Col-->
            <div class="col-xl-3">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Riesgos (N2)' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->            
            {% if control.risks.count %}
              {% for risk in control.risks.all %}
                {% if not forloop.first and forloop.counter0|divisibleby:3 %}
                  </div>
                  <div class="row mb-8 justify-content-start" style="margin-bottom:.5rem !important;">
                    <div class="col-xl-3">
                      <div class="fs-6 fw-semibold"></div>
                    </div>
                  {% endif %}
                    <div class="col-xl-3">
                      <div class="fs-6 fw-semibold"><a href="{% url 'risks:ga_risk_detail' risk.pk %}"><span class="badge badge-primary text-wrap" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.name }}">{{ risk.ref }}</span></a></div>
                    </div>
              {% endfor %}
                
            {% else %}
              <div class="col-xl-6">
                <div class="fs-6 fw-semibold"><span class="badge badge-danger text-wrap">{% trans 'Sin riesgos asociados' %}</span></div>
              </div>
            {% endif %} 
          </div>
          <div class="row mb-8 justify-content-start"  style="margin-bottom:.5rem !important;">
            <!--begin::Col-->
            <div class="col-xl-3">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Subprocesos' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->            
            {% if control.sub_processes.count %}
              {% for subprocess in control.sub_processes.all %}
                {% if not forloop.first and forloop.counter0|divisibleby:3 %}
                  </div>
                  <div class="row mb-8 justify-content-start" style="margin-bottom:.5rem !important;">
                    <div class="col-xl-3">
                      <div class="fs-6 fw-semibold"></div>
                    </div>
                  {% endif %}
                    <div class="col-xl-3">
                    <div class="fs-6 fw-semibold"><a href="{% url 'subprocess:ga_sub_process_detail' subprocess.pk %}"><span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ subprocess.name }}">{{ subprocess.ref }}</span></a></div>
                    </div>
              {% endfor %}
                
            {% else %}
              <div class="col-xl-6">
                <div class="fs-6 fw-semibold"><span class="badge badge-danger text-wrap">{% trans 'Sin subprocesos asociados' %}</span></div>
              </div>
            {% endif %} 
          </div>   
        </fieldset>
      </div>
      
    </div>

    <div class="row mb-8">
      <div class="col col-md-4">
          <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Objetivo' %}</span></div>
          <div>{{ control.name|safe }}</div>
      </div>
      <div class="col col-md-8">
          <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Descripción' %}</span></div>
          <div>{{ control.description|safe }}</div>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col col-md-4">
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Automatización' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_automation_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Sistemas' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.systems }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
      </div>
      <div class="col col-md-8">
          <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Evidencia' %}</span></div>
          <div>{{ control.testing_procedure|safe }}</div>
      </div>
    </div>
    <div class="row mb-8">
      <div class="col col-md-4">
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'GAP' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_is_gap_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Existencia' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_existence_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Completitud' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_completeness_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
      </div>
      
      <div class="col col-md-4">
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Presentación' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_disclosure_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Valoración' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_valuation_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Obligación' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_rights_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
      </div>

      <div class="col col-md-4">
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Precisión' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_accurancy_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fraude' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ control.get_assert_froud_display }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
      </div>
    </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'controls:ga_control_update' control.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'controls:ga_control_delete' control.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a>
      <a href="#" class="btn btn-sm btn-secondary ms-2 backHistory"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->
{% endblock content %}