{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}
<script>
  $(document).ready(function () {

    let textAreas = [
      '#control_description',
      '#control_name',
      '#control_testing_procedure',
    ]
    textAreas.forEach(createCkEditor);

    function createCkEditor(item) {
      ClassicEditor
        .create(
          document.querySelector(item),
          {
            language: {
              ui: 'es',
              content: 'es'
            }
          }
        )
        .then(editor => {
          // const wordCountPlugin = editor.plugins.get('WordCount');
          // const wordCountWrapper = document.getElementById('word-count');
          // wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);
        })
        .catch(error => {
        });
    }
  });

</script>
{% endblock js_footer %}

{% block content %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            {% include '_includes/FormErrors.html' %}
          </div>
          <div class="col-12 mb-4">
            <legend>{% trans 'Datos del Control' %}</legend>
            <div class="row">
              <div class="mb-4 col-md-4 col-12">
                {{ form.ref|as_crispy_field }}
              </div>
              <div class="mb-4 col-md-4 col-12">
                {{ form.key_control|as_crispy_field }}
              </div>
              <div class="mb-4 col-md-4 col-12">
                {{ form.is_elc|as_crispy_field }}
              </div>
              <div class="mb-4 col-12">
                {{ form.risks|as_crispy_field }}
              </div>
              <div class="mb-4 col-12">
                {{ form.sub_processes|as_crispy_field }}
              </div>
            </div>

            <div class="separator my-10"></div>
            <div class="row">
              <legend>{% trans 'Atributos del Control' %}</legend>
              <div class="mb-4 col-md-3 col-12">
                {{ form.control_type|as_crispy_field }}
              </div>
              <div class="mb-4 col-md-3 col-12">
                {{ form.automation|as_crispy_field }}
              </div>
              <div class="mb-4 col-md-3 col-12">
                {{ form.systems|as_crispy_field }}
              </div>
              <div class="mb-4 col-md-3 col-12">
                {{ form.control_frequency|as_crispy_field }}
              </div>
            </div>

            <div class="separator my-10"></div>
            <div class="row">
              <div class="mb-4 col-12">
                {{ form.name|as_crispy_field }}
              </div>
              <div class="separator my-10"></div>
              <div class="col-12 mb-4">
                <fieldset>
                  {{ form.description|as_crispy_field }}
                  <div id="word-count"></div>
                </fieldset>
              </div>
              <div class="separator my-10"></div>
              <div class="col-12 mb-4">
                <div class="mb-4">
                  {{ form.testing_procedure|as_crispy_field }}
                </div>
              </div>
            </div>

            <div class="separator my-10"></div>
            <div class="row">
              <legend>{% trans 'Asertions' %}</legend>
              <div class="mb-4 col-12 col-md-4">
                {{ form.is_gap|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_existence|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_completeness|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_valuation|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_rights|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_disclosure|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_accurancy|as_crispy_field }}
              </div>
              <div class="mb-4 col-12 col-md-4">
                {{ form.assert_froud|as_crispy_field }}
              </div>
            </div>

          </div>
        </div>
      </div>
    
      <div class="card-footer py-6">
        <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
        <a href="{% url 'controls:ga_control_list' %}"
          class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
      </div>
    </form>

</div>
<!--end::Container-->

{% endblock content %}