{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Datos del Control' %}: {{ control.ref }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <fieldset>
      <div class="row">
        <div class="col col-md-4">
          <span class="fs-6 fw-semibold">{% trans 'Referencia' %}: </span> <span>{{ control.ref }}</span>
        </div>
        <div class="col col-md-4">
          <span class="fs-6 fw-semibold">{% trans 'Riesgo' %}: </span> <span><a href="{% url 'risks:ga_risk_detail' control.risk.pk %}">{{ control.risk.name }}</a></span>
        </div>
        <div class="col col-md-4">
          <span class="fs-6 fw-semibold">{% trans '¿Es Key Control?' %}</span> <span>{{ control.key_control|yesno:_("Si, No") }}</span>
        </div>
      </div>
      </fieldset>
      <div class="separator my-10"></div>
      <div class="row">
        <div class="col col-12 col-md-4">
          <div class="fs-6 fw-semibold">{% trans 'Objetivo' %}</div>
          <div>{{ control.name|safe }}</div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="fs-6 fw-semibold">{% trans 'Descripción' %}</div>
          <div>{{ control.description|safe }}</div>
        </div>
        <div class="col col-12 col-md-4">
          <div class="fs-6 fw-semibold">{% trans 'Procedimiento de testeo' %}</div>
          <div>{{ control.testing_procedure|safe }}</div>
        </div>
      </div>
      <div class="separator my-10"></div>
      <div class="row">
        <div class="col col-12 col-md-4">
          <legend>{% trans 'Atributos' %}</legend>
          <div class="mb-4"><span class="fs-6 fw-semibold">{% trans 'Tipo de control' %}: </span> <span>{{ control.get_control_type_display }}</span></div>
          <div class="mb-4"><span class="fs-6 fw-semibold">{% trans 'Automatización del control' %}: </span> <span>{{ control.get_automation_display }}</span></div>
          <div class="mb-4"><span class="fs-6 fw-semibold">{% trans 'Sistemas' %}: </span> <span>{{ control.systems }}</span></div>
          <div class="mb-4"><span class="fs-6 fw-semibold">{% trans 'Frecuencia del control' %}: </span> <span>{{ control.get_control_frequency_display }}</span></div>
        </div>
        <div class="col col-12 col-md-8">
          <legend class="lh-1">{% trans 'Assertions' %}</legend>
          <div class="row">
            <div class="col col-12 col-md-6">
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Existency' %}: </span> <span>{{ control.get_assert_existence_display }}</span>
              </div>
    
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Existency' %}: </span> <span>{{ control.get_assert_existence_display }}</span>
              </div>
    
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Completness' %}: </span> <span>{{ control.get_assert_completeness_display }}</span>
              </div>
    
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Valuation' %}: </span> <span>{{ control.get_assert_valuation_display }}</span>
              </div>
            </div>
            <div class="col col-12 col-md-6">
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Obligation right' %}: </span> <span>{{ control.get_assert_rights_display }}</span>
              </div>
    
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Presentation' %}: </span> <span>{{ control.get_assert_disclosure_display }}</span>
              </div>
    
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Accurancy' %}: </span> <span>{{ control.get_assert_accurancy_display }}</span>
              </div>
    
              <div class="mb-4">
                <span class="fs-6 fw-semibold">{% trans 'Fraud' %}: </span> <span>{{ control.get_assert_froud_display }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'controls:ga_control_update' control.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'controls:ga_control_delete' control.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a>
      <a href="#" class="btn btn-sm btn-secondary ms-2 backHistory"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->
{% endblock content %}