{% extends layout %}

{% load i18n %}
{% block content %}

{% include '_includes/Messages.html' %}

<style>

.card-body p {
  color: white;
  font-size: medium;
}

.card-body p i {
  color: white;
}

</style>


<!--begin::Container-->
<div class="card">
  <!--begin::Card blockheader-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Tareas Asignadas' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row mb-8">
      {% if request.user.controls_test_owner_pending.count > 0 or request.user.controls_test_supervisor_pending.count > 0 or request.user.risk_test_inherent_expert_pending.count > 0 or request.user.risk_test_residual_evaluator_pending.count > 0 or request.user.question_test_pending.count > 0 %}
      <div style="display:flex;"><p style="color:gray; font-size:large"> <i class="bi bi-exclamation-square fa-lg" style="color:red"></i> &nbsp&nbsp {% trans 'Tienes' %} {{ request.user.total_pending_actions }} {% trans 'tareas pendientes' %}</p></div>
      

      {% if request.user.controls_test_owner_pending.count > 0 or request.user.controls_test_supervisor_pending.count > 0%}
      <div class="card" style="background-color: #00bab3; padding: 5px;">
      <div class="card-header">
        <div class="card-title fs-3 fw-bold text-white" style="opacity:85%;">{% trans 'Controles' %}</div>
      </div>
      <div class="card-body" style="padding-left: 10px">
        {% if request.user.controls_test_owner_pending.count > 0 %}
        <a href="{% url 'control_tests:ru_control_test_owner_list' %}" class="card hover-elevate-up shadow-sm parent-hover">
          <div class="card-body d-flex align-items" style="align-items:center;">
            <span class="bi bi-pencil-square fs-2x"></span>
            <span class="ms-3 text-gray-700 parent-hover-primary fs-4 fw-bold">
              &nbsp&nbsp{% trans 'Tienes' %} {{request.user.controls_test_owner_pending.count}} {% trans 'controles pendientes de completar' %}
            </span>
          </div>
        </a>
        {% endif %}
        {% if request.user.controls_test_supervisor_pending.count > 0 %}
        <a href="{% url 'control_tests:ru_control_test_supervisor_list' %}" class="card hover-elevate-up shadow-sm parent-hover">
          <div class="card-body d-flex align-items" style="align-items:center;">
            <span class="bi bi-search fs-2x">
            </span>
            <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
              &nbsp&nbsp{% trans 'Tienes' %} {{request.user.controls_test_supervisor_pending.count}} {% trans 'controles pendientes de supervisar' %}
            </span>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
      {% endif %}

      {% if request.user.risk_test_inherent_expert_pending.count > 0 or request.user.risk_test_residual_evaluator_pending.count > 0 %}
      <div class="card" style="background-color: #00bab3; padding: 5px;">
      <div class="card-header">
        <div class="card-title fs-3 fw-bold text-white" style="opacity:85%;">{% trans 'Riesgos' %}</div>
      </div>
      <div class="card-body" style="padding-left: 10px">
        {% if request.user.risk_test_inherent_expert_pending.count > 0 %}
        <a href="{% url 'evaluations_krm:ru_evaluation_risk_inherent_list' %}" class="card hover-elevate-up shadow-sm parent-hover">
          <div class="card-body d-flex align-items" style="align-items:center;">
            <span class="bi bi-pencil-square fs-2x">
            </span>
            <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
              &nbsp&nbsp{% trans 'Tienes' %} {{request.user.risk_test_inherent_expert_pending.count}} {% trans 'riesgos inherentes pendientes de completar' %}
            </span>
          </div>
        </a>
        {% endif %}
        {% if request.user.risk_test_residual_evaluator_pending.count > 0 %}
        <a href="{% url 'evaluations_krm:ru_evaluation_risk_residual_list' %}" class="card hover-elevate-up shadow-sm parent-hover">
          <div class="card-body d-flex align-items" style="align-items:center;">
            <span class="bi bi-search fs-2x">
            </span>
            <span class="ms-3 text-gray-700 parent-hover-primary fs-6 fw-bold">
              &nbsp&nbsp{% trans 'Tienes' %} {{request.user.risk_test_residual_evaluator_pending.count}} {% trans 'riesgos residuales pendientes de completar' %}
            </span>
          </div>
        </a>
        {% endif %}
      </div>
      </div>
      {% endif %} 
      
    
      {% else %}
        <div style="display:flex;"><p style="color:gray; font-size:large"> <i class="bi bi-check2-circle fa-lg" style="color:green"></i> &nbsp&nbsp {% trans '¡No tienes tareas pendientes!' %}</p></div>
      {% endif %}
    </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <!-- <div class="card-footer py-6">
    <a href="{% url 'auth:logout' %}" class="btn btn-sm btn-danger">{% trans 'Salir' %}</a>
  </div> -->
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}