{% load i18n %}

<div class="c-control-test-answer" data-pk="{{ answer.pk }}">
  <div class="row">
    <div class="col col-md-7">
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-4">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Usuario' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-8">
          <div class="fs-6">
            <span>{{ answer.user }}</span>
          </div>
        </div>
        <!-- end::Col -->
      </div>
      {% if answer.result %}
        <div class="row mb-8">
          <!-- begin::Col -->
          <div class="col-xl-4">
            <div class="fs-6 fw-semibold">
              <span class="badge badge-secondary text-wrap">{% trans 'Resultado propuesto' %}</span>
            </div>
          </div>
          <!-- end::Col -->
          <!-- begin::Col -->
          <div class="col-xl-8">
            <div class="fs-6">
              <span>{{ answer.get_result_display }}</span>
            </div>
          </div>
          <!-- end::Col -->
        </div>
      {% endif %}

      <div class="row mb-8">
        <div class="col-xl-4">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Comentario' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-8">
          <div class="fs-6">{{ answer.description|safe }}</div>
        </div>
      </div>
    </div>
    <div class="col col-md-5">
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-4">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Fecha' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-8">
          <div class="fs-6">
            <span>{{ answer.created }}</span>
          </div>
        </div>
        <!-- end::Col -->
      </div>
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-4">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Evidencia' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-7">
          {% if answer.attachment_1 %}
            <div class="attachment__item mb-4">
              <a target="blank" download href="{{ answer.attachment_1.url }}">{% trans 'Adjunto 1' %}</a>
            </div>
          {% endif %}
          {% if answer.attachment_2 %}
            <div class="attachment__item mb-4">
              <a target="blank" download href="{{ answer.attachment_2.url }}">{% trans 'Adjunto 2' %}</a>
            </div>
          {% endif %}
          {% if answer.attachment_3 %}
            <div class="attachment__item mb-4">
              <a target="blank" download href="{{ answer.attachment_3.url }}">{% trans 'Adjunto 3' %}</a>
            </div>
          {% endif %}
        </div>
        <!-- end::Col -->
      </div>
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-4">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Modificar' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-7">
          {% if answer.can_be_updated and request.user == answer.user %}
            <p>
              <a href="{% url "control_tests:ru_control_test_answer_update" answer.pk %}">Modificar respuesta</a>
            </p>
          {% endif %}
        </div>
        <!-- end::Col -->
      </div>
    </div>
  </div>
</div>
