{% load i18n %}

<div class="c-control-test-answer">
  <div class="row">
    <div class="col-12 col-md-6">
      <p><span class="fs-6 fw-semibold">{% trans 'FECHA' %}: </span> {{ answer.created }}</p>
      <p><span class="fs-6 fw-semibold">{% trans 'USUARIO' %}: </span> {{ answer.user }}</p>
      <p><span class="fs-6 fw-semibold">{% trans 'EVIDENCIA 1' %}: </span>
      {% if answer.attachment_1 %}
        <a target="blank" href="{{ MEDIA_URL }}{{ answer.attachment_1 }}"> {% trans 'Descargar adjunto 1' %}</a>
      {% else %}
        {% trans 'No se ha adjuntado ningún fichero para el adjunto 1' %}
      {% endif %}</p>
      <p><span class="fs-6 fw-semibold">{% trans 'EVIDENCIA 2' %}: </span>
      {% if answer.attachment_2 %}
        <a target="blank" href="{{ MEDIA_URL }}{{ answer.attachment_2 }}"> {% trans 'Descargar adjunto 2' %}</a>
      {% else %}
        {% trans 'No se ha adjuntado ningún fichero para el adjunto 2' %}
      {% endif %}</p>
      <p><span class="fs-6 fw-semibold">{% trans 'EVIDENCIA 3' %}: </span>
      {% if answer.attachment_3 %}
        <a target="blank" href="{{ MEDIA_URL }}{{ answer.attachment_3 }}"> {% trans 'Descargar adjunto 3' %}</a>
      {% else %}
        {% trans 'No se ha adjuntado ningún fichero para el adjunto 3' %}
      {% endif %}</p>
    </div>
    <div class="col-12 col-md-6">
      <p><span class="fs-6 fw-semibold">{% trans 'DESCRIPCIÓN' %}: </span> </p>
      {{ answer.description|safe }}
    </div>
  </div>
</div>
