{% extends layout %}

{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

<style>
  canvas{
    width:100px !important;
    height:100px !important;
    padding: 0;
    margin: auto;
  }

  .badge.badge-success.n1 {
  margin: 5px;
  background-color: #ed9f7b !important;
} 
.badge.badge-success.n2 {
  margin: 5px;
  background-color: #e6d68e !important;
} 
.badge.badge-success.n3 {
  margin: 5px;
  background-color: #a6ed9d !important;
} 

#risk_eval_table tr > td:nth-child(n+9){
  display:none
}

#risk_eval_table tr > th:nth-child(n+9){
  display:none
}

</style>
<script>
  
  function load_bar(id, rit) {
    r_impacto = [];
    r_prob = [];
    rit.forEach(function(r) {

      var r_i = {x: '', y: '', name: ''}
      var r_p = {x: '', y: '', name: ''}
      
      if (r.status < 2) {
        r_i.x = r.risk_ref
        r_i.y = 0
        r_i.name = r.risk_name

        r_p.x = r.risk_ref
        r_p.y = 0
        r_p.name = r.risk_name

      } else {
        r_i.x = r.risk_ref
        r_i.y = r.impact_level_expert
        r_i.name = r.risk_name

        r_p.x = r.risk_ref
        r_p.y = r.probability_level_expert
        r_p.name = r.risk_name
      }
      r_prob.push(r_i)
      r_impacto.push(r_p)
    });

    var options = {
          series: [
        {
          name: 'Impacto',
          data: r_impacto
        },
        {
          name: 'Probabilidad',
          data: r_prob
        }
      ],
          chart: {
            height: 250,
            type: 'bar',
            stacked: true,
            toolbar: {
              show:false,
            }
          },
        plotOptions: {
          bar: {
            borderRadius: 5,
            dataLabels: {
              position: 'center', // top, center, bottom
            },
          }
        },
        
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val;
          },
          style: {
            fontSize: '10px',
            colors: ["#304758"]
          }
        },
        tooltip:{
          custom: function({series, seriesIndex, dataPointIndex, w}) {
            var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
            markerColor = w.globals.markers.colors[seriesIndex];
            return '<div style="margin:10px;">' + 
            '<br>' +
            '<div style="font-size: 11px;">'+
              '<b>'+data.x+'</b>'+
            '</div>'+
            '<div style="font-size: 11px;">'+
              data.name+
            '</div>'+
            '<br>' +
              '<div class="apexcharts-legend-series">' +
                '<span class="apexcharts-legend-marker" rel="1" style="background: '+markerColor+' !important; color: '+markerColor+'; height: 14px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 2px;"></span>'+
                '<span class="apexcharts-legend-text" rel="1" i="0" data:default-text="'+w.globals.initialSeries[seriesIndex].name+'" style="color: rgb(55, 61, 63); font-size: 10px; font-weight: 400; font-family: Helvetica, Inter, sans-serif;">'+w.globals.initialSeries[seriesIndex].name+': ' + data.y.toString() +'</span>'+
              '</div>'
            +'</div>';
          },
        },
        xaxis: {
          position: 'bottom',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            enabled:false,
          },
          tooltip: {
            enabled: false,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val;
            }
          }
        
        },
      };

        var chart = new ApexCharts(document.querySelector("#"+id), options);
        chart.render();
  }

  function load_chart(id, n_pending, n_delivered, n_finished, title) {
    
    const data = {
      labels: ['Pending', 'Delivered', 'Finished'],
      datasets: [
        {
          label: 'Dataset 1',
          data: [n_pending, n_delivered, n_finished],
          backgroundColor: ["#ed9f7b", "#e6d68e","#a6ed9d"],
        }
      ]
    };
    const config = {
      type: 'pie',
      data: data,
      fill: {
          type: 'gradient',
        },
      options: {
        animation : {
          duration: 5000,
        },
        responsive: true,
        plugins: {
          legend: {
            display:false,
          },
          title: {
            display: true,
            text: title,
            font: {
                size: 11,
                family: 'Helvetica, Inter, sans-serif',
            },
          },
          
        },
      },
    };
    const myChart = new Chart(document.querySelector('#'+id), config);
  }

  function swap_columns(id, datatable_id) {
    var dt = $('#'+datatable_id).DataTable();
    var flexRadio_cualitativo = $('#'+"flexRadio_cualitativo").is(':checked');
    var flexRadio_cuantitativo = $('#'+"flexRadio_cuantitativo").is(':checked');
    var flexRadio_admin = $('#'+"flexRadio_admin").is(':checked');
    var flexRadio_experto = $('#'+"flexRadio_experto").is(':checked');
    
    if (flexRadio_cualitativo && flexRadio_experto) {
      dt.column(4).visible(true);    
      dt.column(5).visible(true);    
      dt.column(6).visible(true);    
      dt.column(7).visible(true);    
      dt.column(8).visible(false);    
      dt.column(9).visible(false);    
      dt.column(10).visible(false);    
      dt.column(11).visible(false);    
      dt.column(12).visible(false);    
      dt.column(13).visible(false);    
      dt.column(14).visible(false);    
      dt.column(15).visible(false);    
      dt.column(16).visible(false);    
      dt.column(17).visible(false);    
    } else if (flexRadio_cuantitativo && flexRadio_experto) {
      dt.column(4).visible(true);    
      dt.column(5).visible(false);    
      dt.column(6).visible(false);    
      dt.column(7).visible(false);    
      dt.column(8).visible(true);    
      dt.column(9).visible(true);    
      dt.column(10).visible(true);    
      dt.column(11).visible(false);    
      dt.column(12).visible(false);    
      dt.column(13).visible(false);    
      dt.column(14).visible(false);    
      dt.column(15).visible(false);    
      dt.column(16).visible(false);    
      dt.column(17).visible(false);  
    } else if (flexRadio_cualitativo && flexRadio_admin) {
      dt.column(4).visible(false);    
      dt.column(5).visible(false);    
      dt.column(6).visible(false);    
      dt.column(7).visible(false);    
      dt.column(8).visible(false);    
      dt.column(9).visible(false);    
      dt.column(10).visible(false);    
      dt.column(11).visible(true);    
      dt.column(12).visible(true);    
      dt.column(13).visible(true);    
      dt.column(14).visible(true);    
      dt.column(15).visible(false);    
      dt.column(16).visible(false);    
      dt.column(17).visible(false);
    } else if (flexRadio_cuantitativo && flexRadio_admin) {
      dt.column(4).visible(false);    
      dt.column(5).visible(false);    
      dt.column(6).visible(false);    
      dt.column(7).visible(false);    
      dt.column(8).visible(false);    
      dt.column(9).visible(false);    
      dt.column(10).visible(false);    
      dt.column(11).visible(true);    
      dt.column(12).visible(false);    
      dt.column(13).visible(false);    
      dt.column(14).visible(false);    
      dt.column(15).visible(true);    
      dt.column(16).visible(true);    
      dt.column(17).visible(true);
  }
}
</script>

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.ref }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Compañía' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.company.ref }} - {{ evaluation.company.name }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
            <span class="badge badge-info">{{ evaluation.company.type_company }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Sociedades en alcance' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for c in evaluation.company.companies_in_scope_as_list %}
              <span class="badge badge-info text-wrap" style="text-align:left;">{{ c }}</span>
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Estado' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6" style="display:flex;">
              {% if evaluation.status == "EP" %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-success"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% else %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-danger"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% endif %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominios de riesgo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for dom in evaluation.domain_risks %}
                
                <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ dom.name }}">{{ dom.ref }}</span>
                
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Año de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_year }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Periodo de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_period }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de inicio' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_begin }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de fin' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_end }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <div>
            <canvas id="pie-main"></canvas>
          </div>
        </div>
        <script>
          load_chart('pie-main','{{evaluation.nrisk_test_inherents_pending}}','{{evaluation.nrisk_test_inherents_delivered}}','{{evaluation.nrisk_test_inherents_finished}}', 'Riesgos evaluados');
        </script>
        <div class="row mb-8">
          <div>
            <canvas id="pie-main-experts"></canvas>
          </div>
        </div>
        <script>
          load_chart('pie-main-experts','{{evaluation.experts_pending.count}}','{{evaluation.experts_delivered.count}}','{{evaluation.experts_finished.count}}', 'Expertos');
        </script>
        <div class="row mb-8">
          <div style="float: right;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-end; margin-top: -10px !important; place-content:center;">
            <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Pendientes' %}">P</span>
            <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Evaluados' %}">E</span>
            <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Finalizados' %}">F</span>      
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% if evaluation.nrisk_test_inherents_delivered != 0 or evaluation.nrisk_test_inherents_finished != 0 %}
        <div>
          <div id="bar-main"></div>
        </div>      
        <script>
            var rit = JSON.parse("{{ rit_json }}".replace(/&quot;/g,'"'));
            load_bar("bar-main", rit);
        </script>
      {% else %}
        <div class="row mt-2 mb-2">
          <div class="col-sm">
            <div class="alert alert-primary">{% trans 'Aún no se ha evaluado ningún riesgo' %}.</div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <!--end::Card body-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations_krm:ca_evaluation_inherent_complete' evaluation.pk %}" class="btn btn-sm btn-primary me-2">
      {% trans 'Completar evaluación' %}</a>
  </div>
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Test de Riesgo Inherente de la Evaluación' %}</div>
    <!--end::Card header-->
    <div style="display:flex;">
      <div style="position:relative; margin-right: 5em; top: 10px;">
        <form>
          <div class="form-check 1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_experto" onclick="swap_columns(this.id, 'risk_eval_table')" checked>
              <label class="form-check-label" for="flexRadioDefault1">Experto</label>
          </div>
          <div class="form-check 1" style="margin-top: 10px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_admin" onclick="swap_columns(this.id, 'risk_eval_table')">
              <label class="form-check-label" for="flexRadioDefault2">Admin</label> 
          </div>
        </form>
      </div>
      <div style="position:relative; right: 25px; top: 10px;">
        <form>
          <div class="form-check 2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_cualitativo" onclick="swap_columns(this.id, 'risk_eval_table')" checked>
              <label class="form-check-label" for="flexRadioDefault3">Cualitativo</label>
          </div>
          <div class="form-check 2" style="margin-top: 10px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_cuantitativo" onclick="swap_columns(this.id, 'risk_eval_table')">
              <label class="form-check-label" for="flexRadioDefault4">Cuantitativo</label> 
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if evaluation.risk_test_inherents.all %}
      <table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable" id="risk_eval_table">
        <thead>
          <tr>
            <th></th>
            <th>{% trans 'Riesgo' %}</th>
            <th>{% trans 'Descripción' %}</th>
            <th>{% trans 'Dominio de riesgo / Experto' %}</th> 
            <th>{% trans 'Justif. (Experto)' %}</th> 
            <th>{% trans 'Sev. (Experto)' %}</th> 
            <th>{% trans 'Imp. (Experto)' %}</th>
            <th>{% trans 'Prob. (Experto)' %}</th>
            <th>{% trans 'Sev. (Experto)' %}</th>
            <th>{% trans 'Imp. (Experto)' %}</th>
            <th>{% trans 'Prob. (Experto)' %}</th>
            <th>{% trans 'Justif. (Admin)' %}</th> 
            <th>{% trans 'Sev. (Admin)' %}</th> 
            <th>{% trans 'Imp. (Admin)' %}</th>
            <th>{% trans 'Prob. (Admin)' %}</th>
            <th>{% trans 'Sev. (Admin)' %}</th>
            <th>{% trans 'Imp. (Admin)' %}</th>
            <th>{% trans 'Prob. (Admin)' %}</th>                                  
          </tr>
        </thead>
        <tbody>
          {% for rt in evaluation.risk_test_inherents.all %}
          <tr>
            <td class="text-center align-middle">
              {% if rt.status == 1 %}
                <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">P</span>
              {% elif rt.status == 2 %}
                <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}"">E</span>   
              {% elif rt.status == 3 %}
                <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">F</span>
              {% endif %}
            </td>
            <td class="text-center align-middle"> 
              <a href="{% url 'risks_company:ca_risk_company_update' rt.risk.pk %}">
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.risk.name }}">{{ rt.risk.risk.ref }}</span>
              </a>
            </td>
            <td class="align-middle">
              <div style="display:flex;">
                <div style="width:90%">
                  {{ rt.risk.krm_main_elements|striptags|truncatechars:100 }}
                </div>
                <div style="width:10%">
                  <i class="bi bi-file-earmark-text fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.risk.krm_main_elements }}" style="margin-right:5px;"></i>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">
              
                <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ rt.risk.risk.risk_master.domain_risk.name }}" id = "box-child">{{ rt.risk.risk.risk_master.domain_risk.ref }}</span>
              
                <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ rt.expert.full_name }} ({{ rt.expert.position }})" id = "box-child">{{ rt.expert.username_no_domain }}</span>
            </td>
            <td class="text-center align-middle">
              <i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description }}"></i>
            </td>
            <td class="text-center align-middle">{{ rt.severity_level_expert_qualitative }}</td>
            <td class="align-middle">{{ rt.get_impact_level_expert_display }}</td>
            <td class="align-middle">{{ rt.get_probability_level_expert_display }}</td>
            <td class="text-center align-middle">{{ rt.severity_level_expert }}</td>
            <td class="text-center align-middle">{{ rt.impact_level_expert }}</td>
            <td class="text-center align-middle">{{ rt.probability_level_expert }}</td>
            <td class="text-center align-middle">
              <i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description_admin }}"></i>
            </td>
            <td class="text-center align-middle">{{ rt.severity_level_admin_qualitative }}</td>
            <td class="align-middle">{{ rt.get_impact_level_administrator_display }}</td>
            <td class="align-middle">{{ rt.get_probability_level_administrator_display }}</td>
            <td class="text-center align-middle">{{ rt.severity_level_admin }}</td>
            <td class="text-center align-middle">{{ rt.impact_level_administrator }}</td>
            <td class="text-center align-middle">{{ rt.probability_level_administrator }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen tests de riesgo inherente para esta Evaluación' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations_krm:ca_evaluation_inherent_list' %}" class="btn btn-sm btn-secondary">
      <i class="bi bi-arrow-bar-left"></i>
      {% trans 'Volver' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}