{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}
<!-- <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script> -->
<script src="{% static 'js/flatpickr_es.js' %}"></script>

<script>
  $(document).ready(function () {
    ClassicEditor
      .create(
        document.querySelector('#evaluation_description'),
        {
          language: {
            ui: 'es',
            content: 'es'
          }
        }
      )
      .then(editor => {
        const wordCountPlugin = editor.plugins.get('WordCount');
        const wordCountWrapper = document.getElementById('word-count');
        wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);
      })
      .catch(error => {
      });

    {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'es' %}
      $(".datepicker").flatpickr({
        "locale": "es",
        dateFormat: "d/m/Y",
      });
    {% else %}
      $(".datepicker").flatpickr({
            "locale": "en",
            dateFormat: "Y-m-d",
      });
    {% endif %}
  });

</script>

{% if DEVJS %}
  <script defer src="http://localhost:3000/static/js/bundle.js"></script>
{% else %}
  <script defer src="{% static 'main.react.js' %}"></script>
{% endif %}

{% endblock js_footer %}

{% block content %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

  <form method="post" class="kt-form kt-form--label-right" id="evaluation_krm_create" novalidate>
    {% csrf_token %}
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          {% include '_includes/FormErrors.html' %}
        </div>
        <div class="col-12">
          <div class="mb-15">
            <!--begin::Title-->
            <h1 class="fs-2x text-dark mb-6">{% trans 'Lanzamiento de evaluaciones de riesgo residual' %}</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="stepper stepper-pills stepper-column row align-items-start">
          <!--begin::Aside-->
          <div style="position: sticky; top:100px;" class="col col-12 col-xl-2 justify-content-center justify-content-xl-start flex-row-auto d-none d-xxl-flex">
            <div id="evaluationSteps"></div>
          </div>
          <div class="flex-row-fluid col col-12 col-xl-10">
            <div class="row">
              <div class="col-12">
                <h3 class="mb-6">{% trans 'Paso 1: Datos de la evaluación' %}</h3>
              </div>
              <div class="mb-4 col-12 col-md-7">
                <div class="row">
                  <div class="mb-10">
                    {{ form.ref|as_crispy_field }}
                  </div>
                  <div class="mb-4 col-12 col-md-6">
                    {{ form.certification_year|as_crispy_field }}
                  </div>
                  <div class="mb-4 col-12 col-md-6">
                    {{ form.certification_period|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-4 offset-md-1">
                <div class="row">
                  <div class="mb-4 col-12">
                    {{ form.date_begin|as_crispy_field }}
                  </div>
                  <div class="mb-4 col-12">
                    {{ form.date_end|as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="mb-4 col-12">
                {{ form.description|as_crispy_field }}
                <div id="word-count"></div>
              </div>
            </div>
            <div class="separator my-10"></div>

            </form>
            <div id="create-evaluation-krm-residual"></div>
          </div>
          <!--end::Content-->
        </div>
      </div>
    </div>
    <!--end::Body-->
  
    <div class="card-footer py-6">
      <!-- <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button> -->
      <a href="{% url 'evaluations_krm:ca_evaluation_residual_list' %}"
        class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
    </div>

</div>

<!--end::Container-->

{% endblock content %}