{% extends layout %}

{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<script src="{% static 'js/chart.js' %}"></script>
<!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
<script src="{% static 'js/apexcharts.js' %}"></script>

<style>
  canvas{
    width:125px !important;
    height:125px !important;
    padding: 0;
    margin: auto;
  }

  .badge.badge-success.n1 {
  margin: 5px;
  background-color: #ed9f7b !important;
}
.badge.badge-success.n2 {
  margin: 5px;
  background-color: #e6d68e !important;
}
.badge.badge-success.n3 {
  margin: 5px;
  background-color: #a6ed9d !important;
}

#risk_eval_table tr > td:nth-child(n+9){
  display: table-cell !important;
}

#risk_eval_table tr > th:nth-child(n+9){
  display: table-cell !important;
}

</style>

<script>

function load_bar(id, rcr) {
    r_impacto_inherente = [];
    r_prob_inherente = [];
    r_prob_residual = [];
    nivel_de_control = [];
    rcr.forEach(function(r) {

      var r_i_inh = {x: '', y: '', name: ''}
      var r_p_inh = {x: '', y: '', name: ''}
      var r_p_res = {x: '', y: '', name: ''}
      var nc = {x: '', y: '', name: ''}

      r_i_inh.x = r.risk_ref
      r_i_inh.y = r.impact_inherent
      r_i_inh.name = r.risk_name

      r_p_inh.x = r.risk_ref
      r_p_inh.y = r.probability_inherent-r.probability_residual_eval
      r_p_inh.name = r.risk_name

      r_p_res.x = r.risk_ref
      r_p_res.y = r.probability_residual_eval
      r_p_res.name = r.risk_name

      nc.x = r.risk_ref
      nc.y = -1-(r.nivel_de_control)
      nc.name = r.risk_name
      nc.nivel_de_control = r.nivel_de_control

      r_impacto_inherente.push(r_i_inh)
      r_prob_inherente.push(r_p_inh)
      r_prob_residual.push(r_p_res)
      nivel_de_control.push(nc)
    });

    var options = {
          series: [
            {
              name: 'Impacto inherente',
              data: r_impacto_inherente,
              type: 'column',
            },
            {
              name: 'Probabilidad residual',
              data: r_prob_residual,
              type: 'column',
            },
            {
              name: 'Probabilidad inherente',
              data: r_prob_inherente,
              type: 'column',
            },
            {
              name: 'Nivel de contol',
              data: nivel_de_control,
              type: 'line',
            },

        ],
        chart: {
          height: 250,
          type: 'line',
          stacked: true,
          toolbar: {
            show:false,
          }
        },
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: 'end',
            borderRadiusWhenStacked: 'last',
            dataLabels: {
              position: 'center', // top, center, bottom
            },
          }
        },
        markers: {
          size: 1
        },
        stroke: {
          curve: 'stepline'
        },
        title: {
            text: 'Valoración residual evaluadores',
            align: 'left',
            margin: 10,
            offsetX: 0,
            offsetY: 0,
            floating: false,
            style: {
              fontSize:  '14px',
              fontWeight:  'bold',
              fontFamily:  'Helvetica, Inter, sans-serif',
              color:  '#263238'
            },
        },
        dataLabels: {
          enabled: true,
          enabledOnSeries: [0,1,3],
          offsetY:10,
          formatter: function (val, opts) {
            var seriesIndex = opts.seriesIndex;
            var dataPointIndex = opts.dataPointIndex;
            var data = opts.w.globals.initialSeries[seriesIndex].data[dataPointIndex];

            if (seriesIndex == 3) {
              return data.nivel_de_control;

            } else {
              return data.y;
            }
          },
          style: {
            fontSize: '10px',
            colors: ["#304758"]
          },
          background: {
            enabled: false,
          },
        },
        tooltip:{
          custom: function({series, seriesIndex, dataPointIndex, w}) {
            var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
            markerColor = w.globals.markers.colors[seriesIndex];
            return '<div style="margin:10px;">' +
            '<br>' +
            '<div style="font-size: 11px;">'+
              '<b>'+data.x+'</b>'+
            '</div>'+
            '<div style="font-size: 11px;">'+
              data.name+
            '</div>'+
            '<br>' +
              '<div class="apexcharts-legend-series">' +
                '<span class="apexcharts-legend-marker" rel="1" style="background: '+markerColor+' !important; color: '+markerColor+'; height: 14px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 2px;"></span>'+
                '<span class="apexcharts-legend-text" rel="1" i="0" data:default-text="'+w.globals.initialSeries[seriesIndex].name+'" style="color: rgb(55, 61, 63); font-size: 10px; font-weight: 400; font-family: Helvetica, Inter, sans-serif;">'+w.globals.initialSeries[seriesIndex].name+': ' + data.y.toString() +'</span>'+
              '</div>'
            +'</div>';
          },
        },
        xaxis: {
          position: 'bottom',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            enabled:false,
          },
          tooltip: {
            enabled: false,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val;
            }
          }
        },
      };

        var chart = new ApexCharts(document.querySelector("#"+id), options);
        chart.render();
  }

function clean_specialchars(s) {

    return s.replace(/\n/g, "\\n").replace(/\r/g, "\\r").replace(/\t/g, "\\t").replace(/&quot;/g,'"');

  }

function color_nc_dynamic(val, id){

    var arrow_dot = $("#"+id);

    if (val == 0) {
      arrow_dot.css('color',"#d9d3d2");
      arrow_dot.attr('class','bi-x-circle-fill');
    } else if (val <= 1) {
      arrow_dot.css('color',"#7ee34f");
      arrow_dot.attr('class','bi-arrow-down-circle-fill');
    } else if (val <= 2) {
      arrow_dot.css('color',"#cdd44c");
      arrow_dot.attr('class','bi-arrow-down-right-circle-fill');
    } else if (val <= 3) {
      arrow_dot.css('color',"#c4aa43");
      arrow_dot.attr('class','bi-arrow-up-right-circle-fill');
    } else if (val <= 4) {
      arrow_dot.css('color',"#d14c24");
      arrow_dot.attr('class','bi-arrow-up-circle-fill');
    }
}

function color_nc(val, id){

    var arrow_dot = document.querySelector("#"+id)

    if (val == 0) {
      arrow_dot.style.color = "#d9d3d2";
      arrow_dot.classList.toggle('bi-x-circle-fill');
    } else if (val <= 1) {
      arrow_dot.style.color = "#7ee34f";
      arrow_dot.classList.toggle('bi-arrow-up-circle-fill');
    } else if (val <= 2) {
      arrow_dot.style.color = "#cdd44c";
      arrow_dot.classList.toggle('bi-arrow-up-right-circle-fill');
    } else if (val <= 3) {
      arrow_dot.style.color = "#c4aa43";
      arrow_dot.classList.toggle('bi-arrow-down-right-circle-fill');
    } else if (val <= 4) {
      arrow_dot.style.color = "#d14c24";
      arrow_dot.classList.toggle('bi-arrow-down-circle-fill');
    }
  }

function color_severity_dynamic(val, id){

  var arrow_dot = $("#"+id);

  if (val == 'Sin establecer' || val == 'Not stablished') {
    arrow_dot.css('color',"#d9d3d2");
    arrow_dot.attr('class','bi-x-circle-fill');
  } else if (val == 'Muy baja' || val == 'Very low') {
    arrow_dot.css('color',"#09ef0d");
    arrow_dot.attr('class','bi-arrow-down-circle-fill');
  } else if (val == 'Baja' || val == 'Low') {
    arrow_dot.css('color',"#e8ee0b");
    arrow_dot.attr('class','bi-arrow-down-right-circle-fill');
  } else if (val == 'Media' || val == 'Medium') {
    arrow_dot.css('color',"#fea227");
    arrow_dot.attr('class','bi-arrow-right-circle-fill');
  } else if (val == 'Alta' || val == 'High') {
    arrow_dot.css('color',"#ff6e56");
    arrow_dot.attr('class','bi-arrow-up-right-circle-fill');
  } else if (val == 'Muy alta' || val == 'Very high') {
    arrow_dot.css('color', "#f10606");
    arrow_dot.attr('class', 'bi-arrow-up-circle-fill');
  }
}

function color_severity(val, id){

  var arrow_dot = document.querySelector("#"+id)

  arrow_dot.classList.remove(
    'bi-x-circle-fill',
    'bi-arrow-down-circle-fill',
    'bi-arrow-down-right-circle-fill',
    'bi-arrow-right-circle-fill',
    'bi-arrow-up-right-circle-fill',
    'bi-arrow-up-circle-fill'
  );

  if (val == 'Sin establecer' || val =='Not stablished') {
  arrow_dot.style.color = "#d9d3d2";
  arrow_dot.classList.add('bi-x-circle-fill');
  } else if (val == 'Muy baja' || val == 'Very low') {
  arrow_dot.style.color = "#09ef0d";
  arrow_dot.classList.add('bi-arrow-down-circle-fill');
  } else if (val == 'Baja' || val == 'Low') {
  arrow_dot.style.color = "#e8ee0b";
  arrow_dot.classList.add('bi-arrow-down-right-circle-fill');
  } else if (val == 'Media' || val == 'Medium') {
  arrow_dot.style.color = "#fea227";
  arrow_dot.classList.add('bi-arrow-right-circle-fill');
  } else if (val == 'Alta' || val == 'High') {
  arrow_dot.style.color = "#ff6e56";
  arrow_dot.classList.add('bi-arrow-up-right-circle-fill');
  } else if (val == 'Muy alta' || val == 'Very high') {
  arrow_dot.style.color = "#f10606";
  arrow_dot.classList.add('bi-arrow-up-circle-fill');
  }
}


function swap_columns(id, datatable_id) {
  var flexRadio_cualitativo = $('#'+"flexRadio_cualitativo").is(':checked');
  var flexRadio_cuantitativo = $('#'+"flexRadio_cuantitativo").is(':checked');
  var flexRadio_admin = $('#'+"flexRadio_admin").is(':checked');
  var flexRadio_experto = $('#'+"flexRadio_experto").is(':checked');

  var dt = $('#risk_eval_table').DataTable();

  var j_exp = dt.$(".justif-expert");
  var j_adm = dt.$(".justif-admin");

  var s_exp_num = dt.$(".sev-expert-num");
  var s_adm_num = dt.$(".sev-admin-num");
  var s_exp_qual = dt.$(".sev-expert-qual");
  var s_adm_qual = dt.$(".sev-admin-qual");

  var i_exp_num = dt.$(".imp-expert-num");
  var i_adm_num = dt.$(".imp-admin-num");
  var i_exp_qual = dt.$(".imp-expert-qual");
  var i_adm_qual = dt.$(".imp-admin-qual");

  var p_exp_num = dt.$(".prob-expert-num");
  var p_adm_num = dt.$(".prob-admin-num");
  var p_exp_qual = dt.$(".prob-expert-qual");
  var p_adm_qual = dt.$(".prob-admin-qual");

  var speed_exp_num = dt.$(".speed-expert-num");
  var speed_adm_num= dt.$(".speed-admin-num");
  var speed_exp_qual= dt.$(".speed-expert-qual");
  var speed_adm_qual= dt.$(".speed-admin-qual");

  if (flexRadio_cualitativo && flexRadio_experto) {

    for(var i = 0; i < j_exp.length; i++) {
      j_exp[i].style.display = "inline-block";
      j_adm[i].style.display = "none";

      s_exp_num[i].style.display = "none";
      s_adm_num[i].style.display = "none";
      s_exp_qual[i].style.display = "inline-block";
      s_adm_qual[i].style.display = "none";

      i_exp_num[i].style.display = "none";
      i_adm_num[i].style.display = "none";
      i_exp_qual[i].style.display = "inline-block";
      i_adm_qual[i].style.display = "none";

      p_exp_num[i].style.display = "none";
      p_adm_num[i].style.display = "none";
      p_exp_qual[i].style.display = "inline-block";
      p_adm_qual[i].style.display = "none";

      speed_exp_num[i].style.display = "none";
      speed_adm_num[i].style.display = "none";
      speed_exp_qual[i].style.display = "inline-block";
      speed_adm_qual[i].style.display = "none";

      $("#sev-row-" + i).attr( "data-order", s_exp_num[i].innerHTML );
      color_severity_dynamic(s_exp_qual[i].innerHTML, "sev-dot-" + i);
    }

  } else if (flexRadio_cuantitativo && flexRadio_experto) {

    for(var i = 0; i < j_exp.length; i++) {
      j_exp[i].style.display = "inline-block";
      j_adm[i].style.display = "none";

      s_exp_num[i].style.display = "inline-block";
      s_adm_num[i].style.display = "none";
      s_exp_qual[i].style.display = "none";
      s_adm_qual[i].style.display = "none";

      i_exp_num[i].style.display = "inline-block";
      i_adm_num[i].style.display = "none";
      i_exp_qual[i].style.display = "none";
      i_adm_qual[i].style.display = "none";

      p_exp_num[i].style.display = "inline-block";
      p_adm_num[i].style.display = "none";
      p_exp_qual[i].style.display = "none";
      p_adm_qual[i].style.display = "none";

      speed_exp_num[i].style.display = "inline-block";
      speed_adm_num[i].style.display = "none";
      speed_exp_qual[i].style.display = "none";
      speed_adm_qual[i].style.display = "none";

      $("#sev-row-" + i).attr( "data-order", s_exp_num[i].innerHTML );
      color_severity_dynamic(s_exp_qual[i].innerHTML, "sev-dot-" + i);
    }

  } else if (flexRadio_cualitativo && flexRadio_admin) {

    for(var i = 0; i < j_exp.length; i++) {
      j_exp[i].style.display = "none";
      j_adm[i].style.display = "inline-block";

      s_exp_num[i].style.display = "none";
      s_adm_num[i].style.display = "none";
      s_exp_qual[i].style.display = "none";
      s_adm_qual[i].style.display = "inline-block";

      i_exp_num[i].style.display = "none";
      i_adm_num[i].style.display = "none";
      i_exp_qual[i].style.display = "none";
      i_adm_qual[i].style.display = "inline-block";

      p_exp_num[i].style.display = "none";
      p_adm_num[i].style.display = "none";
      p_exp_qual[i].style.display = "none";
      p_adm_qual[i].style.display = "inline-block";

      speed_exp_num[i].style.display = "none";
      speed_adm_num[i].style.display = "none";
      speed_exp_qual[i].style.display = "none";
      speed_adm_qual[i].style.display = "inline-block";

      $("#sev-row-" + i).attr( "data-order", s_adm_num[i].innerHTML );
      color_severity_dynamic(s_adm_qual[i].innerHTML, "sev-dot-" + i);
    }

  } else if (flexRadio_cuantitativo && flexRadio_admin) {

    for(var i = 0; i < j_exp.length; i++) {
      j_exp[i].style.display = "none";
      j_adm[i].style.display = "inline-block";

      s_exp_num[i].style.display = "none";
      s_adm_num[i].style.display = "inline-block";
      s_exp_qual[i].style.display = "none";
      s_adm_qual[i].style.display = "none";

      i_exp_num[i].style.display = "none";
      i_adm_num[i].style.display = "inline-block";
      i_exp_qual[i].style.display = "none";
      i_adm_qual[i].style.display = "none";

      p_exp_num[i].style.display = "none";
      p_adm_num[i].style.display = "inline-block";
      p_exp_qual[i].style.display = "none";
      p_adm_qual[i].style.display = "none";

      speed_exp_num[i].style.display = "none";
      speed_adm_num[i].style.display = "inline-block";
      speed_exp_qual[i].style.display = "none";
      speed_adm_qual[i].style.display = "none";

      $("#sev-row-" + i).attr( "data-order", s_adm_num[i].innerHTML );
      color_severity_dynamic(s_adm_qual[i].innerHTML, "sev-dot-" + i);
    }
  }
}

function load_chart(id, n_pending, n_delivered, n_finished, title) {

  const data = {
    labels: ['Pending', 'Delivered', 'Finished'],
    datasets: [
      {
        label: '',
        data: [n_pending, n_delivered, n_finished],
        backgroundColor: ["#ed9f7b", "#e6d68e","#a6ed9d"],
      }
    ]
  };
  const config = {
    type: 'pie',
    data: data,
    fill: {
        type: 'gradient',
      },
    options: {
      animation : {
        duration: 5000,
      },
      responsive: true,
      plugins: {
        legend: {
          display:false,
        },
        title: {
          display: true,
          text: title,
          font: {
              size: 11,
              family: 'Helvetica, Inter, sans-serif',
          },
        },

      },
    },
  };
  const myChart = new Chart(document.querySelector('#'+id), config);
}

function load_heat(id, rrt) {
  var series_key_idx = {};
  var series = [];

  rrt.forEach(function(r) {

    evaluator = r.evaluator;
    if (!(evaluator in series_key_idx)) {
      series_key_idx[evaluator] = Object.keys(series_key_idx).length;
      series.push({
        "name": evaluator,
        "data": [],
      });
    }

    series[series_key_idx[evaluator]]["data"].push({'x': r.risk_ref, 'y': r.probability_level_residual_evaluator});
  })


  var options = {
    series: series,
    chart: {
    height: 120+40*series.length,
    type: 'heatmap',
  },
  plotOptions: {
    heatmap: {
      shadeIntensity: 0.5,
      radius: 0,
      useFillColorAsStroke: true,
      colorScale: {
        ranges: [
          {
            from: 1,
            to: 1,
            name: 'Optimizado',
            color: '#a6ed9d'
          },
          {
            from: 2,
            to: 2,
            name: 'Aceptable',
            color: '#7dedf5'
          },
          {
            from: 3,
            to: 3,
            name: 'Inadecuado',
            color: '#e6d68e'
          },
          {
            from: 4,
            to: 4,
            name: 'No controlado',
            color: '#ed9f7b'
          },
          {
            from: 5,
            to: 5,
            name: 'N/A',
            color: '#d4d0c7'
          }
        ]
      }
    }
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    width: 1
  },
  title: {
    display: false,
  },
  legend: {
    show: true,
    showForSingleSeries: true,
    },
  };

  var chart = new ApexCharts(document.querySelector("#"+id), options);
  chart.render();

}

</script>

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.ref }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Compañía' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <div class="row mb-8">
                {% if evaluation.company.country %}
                <div class="col-xl-2">
                  <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.company.country.name}}">
                    <img class="w-20px h-20px rounded-circle me-3" src="{{evaluation.company.country.flag}}">
                  </span>
                </div>
                {% endif %}
                <div class="col-xl-10">
                  <div><span>{{ evaluation.company.ref }}</span></div>
                  <div><span>{{ evaluation.company.name }}</span></div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
            <span class="badge badge-info">{{ evaluation.company.type_company }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Sociedades en alcance' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for c in evaluation.company.companies_in_scope_as_list %}
              <span class="badge badge-info text-wrap" style="text-align:left;">{{ c }}</span>
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Estado' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6" style="display:flex;">
              {% if evaluation.status == "EP" %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-success"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% else %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-danger"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% endif %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominios de riesgo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for dom in evaluation.domain_risks %}
                <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ dom.name }}">{{ dom.ref }}</span>
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Supervisión administrador' %}</span>
            </div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% if evaluation.admin_supervisor %}
                <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ evaluation.admin_supervisor.full_name }} ({{ evaluation.admin_supervisor.position }})">{{ evaluation.admin_supervisor.username_no_domain }}</span>
              {% else %}
                <span class="badge badge-primary">{% trans 'Sin completar' %}</span>
              {% endif %}
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Año de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_year }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Periodo de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_period }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de inicio' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_begin }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de fin' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_end }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
      <div class="row mb-8">
          <div>
            <canvas id="pie-main"></canvas>
          </div>
        </div>
        <script>
          load_chart('pie-main','{{evaluation.nrisk_test_residuals_pending}}','{{evaluation.nrisk_test_residuals_delivered}}','{{evaluation.nrisk_test_residuals_finished}}', 'Riesgos evaluados');
        </script>
        <div class="row mb-8">
          <div>
            <canvas id="pie-main-evaluators"></canvas>
          </div>
        </div>
        <script>
          load_chart('pie-main-evaluators','{{evaluation.evaluators_pending.count}}','{{evaluation.evaluators_delivered.count}}','{{evaluation.evaluators_finished.count}}', 'Evaluadores');
        </script>
        <div class="row mb-8">
          <div style="float: right;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-end; margin-top: -10px !important; place-content:center;">
            <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Pendientes' %}">P</span>
            <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Evaluados' %}">E</span>
            <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Finalizados' %}">F</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end::Card body-->

  <div class="card-footer py-6" style="display:flex;">
    <div class="d-flex gap-2 align-items-center">
    <a href="{% url 'evaluations_krm:ca_evaluation_residual_list' %}" class="btn btn-sm btn-secondary"><i
      class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>

    <a href="{% url 'evaluations_krm:ca_evaluation_residual_notifications' evaluation.pk %}" class="btn btn-sm  btn-primary"><i class="bi bi-arrow-bar-right"></i>{% trans 'Notificaciones' %}</a>

    {% if evaluation.status != 'FI' %}

      <a href="{% url 'evaluations_krm:ca_evaluation_residual_complete' evaluation.pk %}" class="btn btn-sm btn-primary">
      {% trans 'Completar evaluación como Administrador' %}</a>

    {% endif %}

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% include '_includes/FormErrors.html' %}
      {% csrf_token %}
      <input type="hidden" name="evaluation_pk" value="{{ evaluation.pk }}">
      <input type="hidden" name="action" value="download">
      <button class="btn btn-sm btn-primary"><i class="bi bi-download"></i>{% trans 'Descargar Evaluación' %}</button>
    </form>
    </div>
  </div>
  <!--end::Card footer-->
</div>
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Tests de Riesgo Residual de la Evaluación' %}</div>
    <!--end::Card header-->
    <div style="display:flex;">
      <div style="position:relative; margin-right: 5em; top: 10px;">
        <form>
          <div class="form-check 1">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_experto" onclick="swap_columns(this.id, 'risk_eval_table')" checked>
              <label class="form-check-label" for="flexRadioDefault1">Evaluador</label>
          </div>
          <div class="form-check 1" style="margin-top: 10px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_admin" onclick="swap_columns(this.id, 'risk_eval_table')">
              <label class="form-check-label" for="flexRadioDefault2">Administrador</label>
          </div>
        </form>
      </div>
      <div style="position:relative; right: 25px; top: 10px;">
        <form>
          <div class="form-check 2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_cualitativo" onclick="swap_columns(this.id, 'risk_eval_table')" checked>
              <label class="form-check-label" for="flexRadioDefault3">Cualitativo</label>
          </div>
          <div class="form-check 2" style="margin-top: 10px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_cuantitativo" onclick="swap_columns(this.id, 'risk_eval_table')">
              <label class="form-check-label" for="flexRadioDefault4">Cuantitativo</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end::Card header-->

  <!--begin::Card body-->
  <div class="card-body">
    {% if evaluation.risk_test_residuals.all %}

      <!--  Código donde insertábamos el gráfico 1 de Evaluaciones de Riesgo Residual
        <div class="row">
        {% if evaluation.nrisk_test_residuals_delivered != 0 or evaluation.nrisk_test_residuals_finished != 0 %}
          <div>
            <div id="heat-main"></div>
          </div>
          <script>
              var rrt = JSON.parse(clean_specialchars("{{ rrt_json }}"));
              load_heat("heat-main", rrt);
          </script>
        {% endif %}
      </div> -->

      <table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable" id="risk_eval_table">
        <thead>
          <tr>
            <th width= "5%" class="text-center">{% trans 'Estado' %}</th>
            <th width= "10%" class="text-center">{% trans 'Riesgo' %}</th>
            <th width= "15%" class="text-center">{% trans 'Descripción del Riesgo N2' %}</th>
            <th width= "10%" class="text-center">{% trans 'Dominio del Riesgo N2' %}</th>
            <th width= "10%" class="text-center">{% trans 'Evaluador de R.Residual' %}</th>
            <th width= "10%" class="text-center">{% trans 'Justificación' %}</th>
            <th width= "10%" class="text-center">{% trans 'Velocidad de ocurrencia' %}</th>
            <th width= "10%" class="text-center">{% trans 'Impacto' %}</th>
            <th width= "10%" class="text-center">{% trans 'Probabilidad' %}</th>
            <th width= "10%" class="text-center">{% trans 'Severidad' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for rt in evaluation.risk_test_residuals.all %}
          <tr>
            <td class="text-center align-middle">
              {% if rt.status == 1 %}
                <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">P</span>
              {% elif rt.status == 2 %}
                <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">E</span>
              {% elif rt.status == 3 %}
                <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">F</span>
              {% endif %}
            </td>

            <td class="text-center align-middle">
              <a href="{% url 'risks_company:ga_risk_company_update' rt.risk.pk %}">
                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.risk.risk.name }}">{{ rt.risk.risk.ref }}</span>
              </a>
            </td>

            <td class="text-center align-middle">
              <div style="display:flex;">
                <div style="width:90%">
                  {{ rt.risk.risk.description|striptags|truncatechars:80|safe }}
                </div>
                <div style="width:10%">
                  <i class="bi bi-file-earmark-text fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.risk.risk.description|striptags|safe }}" style="margin-right:5px;"></i>
                </div>
              </div>
            </td>

            <td class="text-center align-middle">
              <a href="{% url 'domain_risks:ga_domain_risk_detail' rt.risk.risk.risk_master.domain_risk.pk %}">
                <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ rt.risk.risk.risk_master.domain_risk.name }}">{{ rt.risk.risk.risk_master.domain_risk.ref }}</span>
              </a>
            </td>

            <td class="text-center align-middle">
                <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ rt.evaluator.full_name }} ({{ rt.evaluator.position }})">{{ rt.evaluator.username_no_domain }}</span>
            </td>

            <td class="text-center align-middle">
              <span class="justif-expert"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description_evaluator }}"></i></span>
              <span class="justif-admin" style="display:none;"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description_administrator }}"></i></span>
            </td>

            <td class="text-center align-middle" data-order="{{ rt.event_speed_level_evaluator }}">
              <span class="speed-expert-num" style="display:none;">{{ rt.event_speed_level_evaluator }}</span>
              <span class="speed-admin-num" style="display:none;">{{ rt.event_speed_level_administrator }}</span>
              <span class="speed-expert-qual">{{ rt.get_event_speed_level_evaluator_display }}</span>
              <span class="speed-admin-qual" style="display:none;">{{ rt.get_event_speed_level_administrator_display }}</span>
            </td>

            <td class="text-center align-middle" data-order="{{ rt.impact_level_evaluator }}">
              <span class="imp-expert-num" style="display:none;">{{ rt.impact_level_evaluator }}</span>
              <span class="imp-admin-num" style="display:none;">{{ rt.impact_level_administrator }}</span>
              <span class="imp-expert-qual">{{ rt.get_impact_level_evaluator_display }}</span>
              <span class="imp-admin-qual" style="display:none;">{{ rt.get_impact_level_administrator_display }}</span>
            </td>

            <td class="text-center align-middle" data-order="{{ rt.probability_level_evaluator }}">
              <span class="prob-expert-num" style="display:none;">{{ rt.probability_level_evaluator }}</span>
              <span class="prob-admin-num" style="display:none;">{{ rt.probability_level_administrator }}</span>
              <span class="prob-expert-qual">{{ rt.get_probability_level_evaluator_display }}</span>
              <span class="prob-admin-qual" style="display:none;">{{ rt.get_probability_level_administrator_display }}</span>
            </td>

            <td class="text-center align-middle" data-order="{{ rt.severity_level_evaluator }}" id="sev-row-{{ forloop.counter0 }}">
              <div style="display:flex; gap:10px;">
                <span><i class="bi bi-arrow-right-circle-fill" id = "sev-dot-{{ forloop.counter0 }}"></i></span>
                <span class="sev-expert-num" style="display:none;">{{ rt.severity_level_evaluator }}</span>
                <span class="sev-admin-num" style="display:none;">{{ rt.severity_level_administrator }}</span>
                <span class="sev-expert-qual">{{ rt.get_severity_evaluator_qualitative_display }}</span>
                <span class="sev-admin-qual" style="display:none;">{{ rt.get_severity_administrator_qualitative_display }}</span>
              </div>
            </td>
          </tr>
          <script>color_severity("{{ rt.get_severity_level_evaluator_qualitative_display }}", "sev-dot-{{ forloop.counter0 }}");</script>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen tests de riesgo residual en esta Evaluación' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations_krm:ga_evaluation_residual_list' %}" class="btn btn-sm btn-secondary">
      <i class="bi bi-arrow-bar-left"></i>
      {% trans 'Volver' %}</a>
  </div>
  <!--end::Card footer-->
</div>

{% endblock content %}
