{% extends layout %}

{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.ref }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Compañía' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.company.ref }} - {{ evaluation.company.name }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
            <span class="badge badge-info">{{ evaluation.company.type_company }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Sociedades en alcance' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for c in evaluation.company.companies_in_scope_as_list %}
              <span class="badge badge-info text-wrap" style="text-align:left;">{{ c }}</span>
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Estado' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6" style="display:flex;">
              {% if evaluation.status == "EP" %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-success"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% else %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-danger"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% endif %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominios de riesgo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for dom in evaluation.domain_risks %}
                <a href="{% url 'domain_risks:ga_domain_risk_detail' dom.pk %}">
                  <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ dom.name }}">{{ dom.ref }}</span>
                </a>
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Año de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_year }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Periodo de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_period }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de inicio' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_begin }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de fin' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_end }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <div>
            <canvas id="pie-main"></canvas>
          </div>
        </div>
        <script>
          load_chart('pie-main','{{evaluation.nrisk_test_inherents_pending}}','{{evaluation.nrisk_test_inherents_delivered}}','{{evaluation.nrisk_test_inherents_finished}}');
        </script>
        <div class="row mb-8">
          <div style="float: right;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-end; margin-top: -10px !important; place-content:center;">
            <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Pendientes' %}">P</span>
            <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Evaluados' %}">E</span>
            <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Finalizados' %}">F</span>      
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% if evaluation.nrisk_test_inherents_delivered != 0 or evaluation.nrisk_test_inherents_finished != 0 %}
        <div>
          <div id="bar-main"></div>
        </div>      
        <script>
            var rit = JSON.parse("{{ rit_json }}".replace(/&quot;/g,'"'));
            load_bar("bar-main", rit);
        </script>
      {% else %}
        <div class="row mt-2 mb-2">
          <div class="col-sm">
            <div class="alert alert-primary">{% trans 'Aún no se ha evaluado ningún riesgo' %}.</div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    {% if evaluation.status == 'SI' %}
      {% if evaluation.is_completed_assing %}
        <form method="post" class="kt-form kt-form--label-right" novalidate>
          {% include '_includes/FormErrors.html' %}
          {% csrf_token %}
          <input type="hidden" name="evaluation_pk" value="{{ evaluation.pk }}">
          <input type="hidden" name="action" value="i">
          <button class="btn btn-sm btn-primary me-2"><i class="bi bi-clipboard-check"></i>
          {% trans 'Lanzar controles' %}</button>
          <a href="{% url 'evaluations_krm:ga_evaluation_residual_list' %}" class="btn btn-sm btn-secondary"><i
              class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
        </form>
      {% endif %}
    {% elif evaluation.status == 'EP' %}
      <form method="post" class="kt-form kt-form--label-right" novalidate>
        {% include '_includes/FormErrors.html' %}
        {% csrf_token %}
          <input type="hidden" name="evaluation_pk" value="{{ evaluation.pk }}">
          <input type="hidden" name="action" value="f">
          <button class="btn btn-sm btn-primary me-2">{% trans 'Finalizar evaluación' %}</button>
        <a href="{% url 'evaluations_krm:ga_evaluation_residual_list' %}" class="btn btn-sm btn-secondary mr-2"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
      </form>
    {% elif evaluation.status == 'FI' %}
      <form method="post" class="kt-form kt-form--label-right" novalidate>
        {% include '_includes/FormErrors.html' %}
        {% csrf_token %}
        <input type="hidden" name="evaluation_pk" value="{{ evaluation.pk }}">
        <input type="hidden" name="action" value="d">
        <button class="btn btn-sm btn-primary me-2"><i class="bi bi-download"></i>{% trans 'Descargar Evaluación' %}</button>
        <a href="{% url 'evaluations:ga_evaluation_list' %}" class="btn btn-sm btn-secondary mr-2"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
      </form>
    {% else %}
    <a href="{% url 'evaluations_krm:ga_evaluation_residual_list' %}" class="btn btn-sm btn-secondary mr-2"><i
        class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
    {% endif %}
  </div>
  <!--end::Card footer-->
</div>

<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Tests de Riesgo Residual de la Evaluación' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if evaluation.risk_test_residuals.all %}
      <table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
        <thead>
          <tr>
            <th>{% trans 'RIESGO' %}</th>
            <th>{% trans 'EVALUADOR' %}</th>

            <th>{% trans 'EV. PROBABILIDAD' %}</th>
            <th>{% trans 'EV. DESC' %}</th>

            <th>{% trans 'ADM. PROBABILIDAD' %}</th>
            <th>{% trans 'ADM. DESC' %}</th>

            <th>{% trans 'ESTADO' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for rt in evaluation.risk_test_residuals.all %}
          <tr>
            <td>{{ rt.risk.name }}</td>
            <td>{{ rt.evaluator.full_name }} - {{ rt.evaluator.email }}</td>
            {% if rt.status == 1 %}
                <td>{% trans 'Sin establecer' %}</td>
                <td>{% trans 'Sin establecer' %}</td>
            {% else %}
                <td>{{ rt.get_probability_level_residual_evaluator_display }}</td>
                <td><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description_evaluator }}"></i></td>
            {% endif %}
            <td>{{ rt.get_probability_level_residual_administrator_display }}</td>
            <td><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.description_administrator }}"></i></td>
            <td>{{ rt.get_status_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen tests de riesgo residual para esta Evaluación' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations_krm:ga_evaluation_residual_list' %}" class="btn btn-sm btn-secondary">
      <i class="bi bi-arrow-bar-left"></i>
      {% trans 'Volver' %}</a>
  </div>
  <!--end::Card footer-->
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Valoración agregada de Riesgo Residual' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if evaluation.risk_company_residuals.all %}
    <table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr>
          <th>{% trans 'RIESGO' %}</th>
          <th class="text-center">{% trans 'PROBABILIDAD AGREGADA' %}</th>
          <th>{% trans 'ADM. PROBABILIDAD' %}</th>
          <th>{% trans 'ADM. DESC' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for rt in evaluation.risk_company_residuals.all %}
        <tr>
          <td>{{ rt.risk_company.name }}</td>
          <td class="text-center"><span class="badge badge-info">{{ rt.probability_level_residual_evaluator_aggregate }}</span></td>
          <td>{{ rt.get_probability_level_residual_administrator_display }}</td>
          <td>
            {% if rt.description_evaluator %}
              <i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{{ rt.description_evaluator }}"></i>
            {% else %}
              {% trans 'Sin establecer' %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen tests de riesgo residual para esta Evaluación' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    {% if evaluation.status == 'EP' %}
    <a href="{% url 'evaluations_krm:ca_evaluation_residual_complete' evaluation.pk %}"
      class="btn btn-sm btn-primary me-2">
      {% trans 'Validar Riesgos valorados por los Evaluadores' %}</a>
    {% endif %}
    <a href="{% url 'evaluations_krm:ca_evaluation_residual_list' %}" class="btn btn-sm btn-secondary">
      <i class="bi bi-arrow-bar-left"></i>
      {% trans 'Volver' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->
{% endblock content %}