{% extends layout %}

{% load i18n %}
{% trans "Sin asignar" as without_set %}
{% load crispy_forms_tags %}

{% block js_footer %}

{% if DEVJS %}
  <script defer src="http://localhost:3000/static/js/bundle.js"></script>
{% else %}
  <script defer src="{% static 'main.react.js' %}?v=20250327"></script>
{% endif %}


<script>
  $(document).ready(function () {
    $('#sendEvaluation').on('submit', function(e){
      let errorFound = false;
      $('#buttonSend').attr('data-kt-indicator', 'on');
      $('.card').removeClass('danger');

      if(!errorFound){
        $("input[name^='probability-']").each(function(index){
          if ($(this).val() == 0){
            let parent = $(this).closest('div.card');
            $(parent).addClass('danger');
            $('html, body').animate({
              scrollTop: $(parent).offset().top - 100
            }, 1000);
            e.preventDefault();
            $('#buttonSend').attr('data-kt-indicator', 'off');
            errorFound=true;
            e.preventDefault();
            return false;
          }
        });
      }
      if (!errorFound){
        $("input[name^='impact-']").each(function(index) {
          if ($(this).val() == 0) {
            let parent = $(this).closest('div.card');
            $(parent).addClass('danger');
            $('html, body').animate({
              scrollTop: $(parent).offset().top - 100
            }, 1000);
            $('#buttonSend').attr('data-kt-indicator', 'off');
            errorFound=true;
            e.preventDefault();
            return false;
          }
        });
      }
      if (!errorFound) {
        $("input[name^='event-']").each(function(index) {
          if ($(this).val() == 0) {
            let parent = $(this).closest('div.card');
            $(parent).addClass('danger');
            $('html, body').animate({
              scrollTop: $(parent).offset().top - 100
            }, 1000);
            $('#buttonSend').attr('data-kt-indicator', 'off');
            errorFound = true;
            e.preventDefault();
            return false;
          }
        });
      }
      if (!errorFound) {
        $("textarea[name^='description-']").each(function(index) {
          if ($(this).val() == '') {
            let parent = $(this).closest('div.card');
            $(parent).addClass('danger');
            $('html, body').animate({
              scrollTop: $(parent).offset().top - 100
            }, 1000);
            $('#buttonSend').attr('data-kt-indicator', 'off');
            errorFound = true;
            e.preventDefault();
            return false;
          }
        });
      }
      return true;
    })
  });
</script>

{% endblock js_footer %}

{% block pageCss %}
<style>

  .form-check-input:hover,
  .form-check-label:hover{
    cursor:pointer;
  }

  .form-check-custom .form-check-label{
    margin-left: 0;
    padding-left: 10px;
  }

  .card.danger {
    border: 2px solid var(--kt-danger);
  }
</style>
{% endblock pageCss %}

{% block content %}

{% include '_includes/Messages.html' %}

<div class="accordion" id="kt_accordion_2">
  <!--begin::Container-->
  <div class="card mb-8">
    <div class="accordion-item">
      <!--begin::Card header-->
      <div class="card-header" id="kt_accordion_1_header_0" style="padding: inherit">
        <!--begin::Card header-->
        <button class="accordion-button fs-3 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_0" aria-expanded="true" aria-controls="kt_accordion_1_body_0">
          {{ page_title }}
        </button>
        <!--end::Card header-->
      </div>
      <!--end::Card header-->
      <div id="kt_accordion_1_body_0" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_0" data-bs-parent="#kt_accordion_2">
        <!--begin::Card body-->
        <div class="card-body">
          <div class="row">
            <div class="col col-md-6">
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6">
                    <span>{{ evaluation.ref }}</span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Compañía' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6">
                    <div class="row mb-8">
                      {% if evaluation.company.country %}
                      <div class="col-xl-2">
                        <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.company.country.name}}">
                          <img class="w-20px h-20px rounded-circle me-3" src="{{evaluation.company.country.flag}}">
                        </span>
                      </div>
                      {% endif %}
                      <div class="col-xl-10">
                        <div><span>{{ evaluation.company.ref }}</span></div>
                        <div><span>{{ evaluation.company.name }}</span></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6">
                  <span class="badge badge-info">{{ evaluation.company.type_company }}</span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Sociedades en alcance' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6">
                    {% for c in evaluation.company.companies_in_scope_as_list %}
                      <span class="badge badge-info">{{ c }}</span>
                    {% endfor %}
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Estado' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6" style="display:flex;">
                    {% if evaluation.status == "EP" %}
                      <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-success"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                      <div>{{ evaluation.get_status_display }}</div>
                    {% else %}
                      <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-danger"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                      <div>{{ evaluation.get_status_display }}</div>
                    {% endif %}
                  </div>
                </div>
                <!--end::Col-->
              </div>
            </div>
            <div class="col col-md-3">
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-6">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Año de certificación' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-6">
                  <div class="fs-6">
                    <span>{{ evaluation.certification_year }}</span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-6">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Periodo de certificación' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-6">
                  <div class="fs-6">
                    <span>{{ evaluation.certification_period }}</span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
            </div>
            <div class="col col-md-3">
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de inicio' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6">
                    <span>{{ evaluation.date_begin }}</span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
              <div class="row mb-8">
                <!--begin::Col-->
                <div class="col-xl-5">
                  <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de fin' %}</span></div>
                </div>
                <!--end::Col-->
                <!--begin::Col-->
                <div class="col-xl-7">
                  <div class="fs-6">
                    <span>{{ evaluation.date_end }}</span>
                  </div>
                </div>
                <!--end::Col-->
              </div>
            </div>
          </div>
        </div>
        <!--end::Card body-->
      </div>
    </div>
  </div>
</div>

{% if risks_test_inherent %}
    {% for rt in risks_test_inherent %}
    <div class="accordion" id="kt_accordion_2">
      <div class="card  mb-5">
        <div class="accordion-item">
          <!--begin::Card header-->
          <div class="card-header" id="kt_accordion_1_header_{{ forloop.counter }}" style="padding: inherit">
            <!--begin::Card header-->
            <button class="accordion-button fs-3 fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_{{ forloop.counter }}" aria-expanded="true" aria-controls="kt_accordion_1_body_{{ forloop.counter }}">
              <span class="badge badge-primary">{{ rt.risk.risk.ref }}</span>&nbsp{{ rt.risk.risk.name }}
            </button>
            <!--end::Card header-->
          </div>
          <div id="kt_accordion_1_body_{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="kt_accordion_1_header_{{ forloop.counter }}" data-bs-parent="#kt_accordion_2">
            <div class="card-body">
              <div class="row">
                <div class="col-xl-6">
                  <fieldset>
                    <!-- <legend class="mb-8">{% trans 'Datos del Riesgo' %}</legend> -->
                    <div class="row mb-8">
                      <!--begin::Col-->
                      <div class="col-xl-4">
                        <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominio de Riesgo' %}</span></div>
                      </div>
                      <!--end::Col-->
                      <!--begin::Col-->
                      <div class="col-xl-8">
                        <div class="fs-6">
                          <div>
                            <span class="badge badge-primary text-wrap">{{ rt.risk.risk.risk_master.domain_risk.ref }}</span>
                          </div>
                          <div>
                            {{ rt.risk.risk.risk_master.domain_risk.name }}
                          </div>
                        </div>
                      </div>
                      <!--end::Col-->
                    </div>
                  </fieldset>
                </div>
                <div class="col-xl-6">
                  <fieldset>
                    <div class="row mb-8">
                      <!--begin::Col-->
                      <div class="col-xl-4">
                        <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Riesgo Maestro' %}</span></div>
                      </div>
                      <!--end::Col-->
                      <!--begin::Col-->
                      <div class="col-xl-8">
                        <div class="fs-6">
                          <div>
                            <span class="badge badge-primary text-wrap">{{ rt.risk.risk.risk_master.ref }}</span>
                          </div>
                          <div>
                            {{ rt.risk.risk.risk_master.name }}
                          </div>
                        </div>
                      </div>
                      <!--end::Col-->
                    </div>
                  </fieldset>
                </div>
                <div class="col-xl-12">
                  <div class="row mb-8">
                    <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Descripción' %}</span></div>
                    <div>{{ rt.risk.description|safe }}</div>
                  </div>
                  <div class="row mb-8">
                    <div class="col col-xl-6">
                        <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Principales elementos' %}</span></div>
                        <div>{{ rt.risk.krm_main_elements|safe }}</div>
                    </div>
                    <div class="col col-xl-6">
                        <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Principales eventos' %}</span></div>
                        <div>{{ rt.risk.krm_main_events|safe }}</div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12">
                  <div class="row mb-8">
                    <div class="col col-xl-6">
                        <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Actividad afectada' %}</span></div>
                        <div>{{ rt.risk.krm_activity_affected|safe }}</div>
                    </div>
                    <div class="col col-xl-6">
                        <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Personal expuesto' %}</span></div>
                        <div>{{ rt.risk.krm_exposed_staff|safe }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--begin::Card footer-->
            <div class="card-footer py-6">
              <div class="risk_test_inherent" data-risktestpk="{{ rt.pk }}"
              data-impact-reputational="{{ rt.impact_reputational_expert}}"
              data-impact-economic="{{rt.impact_economic_expert}}"
              data-impact-regulatory="{{rt.impact_regulatory_expert}}"
              data-impact-objectives="{{ rt.impact_objectives_expert}}"
              data-impact-dedication="{{rt.impact_dedication_expert}}"
              data-probability="{{ rt.probability_level_expert }}"
              data-event-speed="{{rt.event_speed_level_expert}}"
              data-description="{{ rt.description_expert|default_if_none:'' }}" ></div>
            </div>
            <!--end::Card footer-->
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <div class="card">
      <!--begin::Card header-->
      <div class="card-header">
        <!--begin::Card header-->
        <div class="card-title fs-3 fw-bold">{% trans 'Finalizar evaluación' %}</div>
        <!--end::Card header-->
      </div>
      <div class="card-body">
        <div class="row mt-2 mb-2">
          <div class="col-12">
            <form action="" novalidate id="sendEvaluation" method="post">
              {% csrf_token %}
              {{ form.ref|as_crispy_field }}
              <button id="buttonSend" class="btn btn-primary btn-sm px-6 align-self-center text-nowrap" data-kt-indicator="off">
                <span class="indicator-label">Finalizar y enviar evaluación para su validación</span>
                <span class="indicator-progress">
                  Actualizando...<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

{% else %}
  <div class="card">
    <!--begin::Card header-->
    <div class="card-header">
      <!--begin::Card header-->
      <div class="card-title fs-3 fw-bold">{{ rt }}</div>
      <!--end::Card header-->
    </div>
    <div class="card-body">
      <div class="row mt-2 mb-2">
        <div class="col-12">
          <div class="alert alert-primary">{% trans 'No existen tests de riesgo inherente pendientes para esta Evaluación' %}.
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<!--end::Container-->
{% endblock content %}
