{% extends layout %}

{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}
<script src="{% static 'js/apexcharts.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>

<style>
  canvas{
    width:125px !important;
    height:125px !important;
    padding: 0;
    margin: auto;
  }

  .badge.badge-success.n1 {
  margin: 5px;
  background-color: #ed9f7b !important;
}
.badge.badge-success.n2 {
  margin: 5px;
  background-color: #e6d68e !important;
}
.badge.badge-success.n3 {
  margin: 5px;
  background-color: #a6ed9d !important;
}

#risk_eval_table tr > td:nth-child(n+9){
  display:none
}

#risk_eval_table tr > th:nth-child(n+9){
  display:none
}

</style>
<script>

  function color_severity(val, id){

    var arrow_dot = document.querySelector("#"+id)

    if (val == 0) {
      arrow_dot.style.color = "#d9d3d2";
      arrow_dot.classList.toggle('bi-x-circle-fill');
    } else if (val <= 2) {
      arrow_dot.style.color = "#7ee34f";
      arrow_dot.classList.toggle('bi-arrow-down-circle-fill');
    } else if (val <= 5) {
      arrow_dot.style.color = "#cdd44c";
      arrow_dot.classList.toggle('bi-arrow-down-right-circle-fill');
    } else if (val <= 11) {
      arrow_dot.style.color = "#c4aa43";
      arrow_dot.classList.toggle('bi-arrow-up-right-circle-fill');
    } else if (val <= 16) {
      arrow_dot.style.color = "#d14c24";
      arrow_dot.classList.toggle('bi-arrow-up-circle-fill');
    }
  }

  function load_bar(id, rit) {
    r_impacto = [];
    r_prob = [];
    rit.forEach(function(r) {

      var r_i = {x: '', y: '', name: ''}
      var r_p = {x: '', y: '', name: ''}

      if (r.status < 2) {
        r_i.x = r.risk_ref
        r_i.y = 0
        r_i.name = r.risk_name
        r_i.expert = r.expert

        r_p.x = r.risk_ref
        r_p.y = 0
        r_p.name = r.risk_name
        r_p.expert = r.expert

      } else {
        r_i.x = r.risk_ref
        r_i.y = r.impact_level_expert
        r_i.name = r.risk_name
        r_i.expert = r.expert

        r_p.x = r.risk_ref
        r_p.y = r.probability_level_expert
        r_p.name = r.risk_name
        r_p.expert = r.expert
      }
      r_prob.push(r_i)
      r_impacto.push(r_p)
    });

    var options = {
          series: [
        {
          name: 'Impacto',
          data: r_impacto
        },
        {
          name: 'Probabilidad',
          data: r_prob
        }
      ],
          chart: {
            height: 250,
            type: 'bar',
            stacked: true,
            toolbar: {
              show:false,
            }
          },
        plotOptions: {
          bar: {
            borderRadius: 5,
            borderRadiusApplication: 'end',
            borderRadiusWhenStacked: 'last',
            dataLabels: {
              position: 'center', // top, center, bottom
            },
          }
        },

        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val;
          },
          style: {
            fontSize: '10px',
            colors: ["#304758"]
          }
        },
        tooltip:{
          custom: function({series, seriesIndex, dataPointIndex, w}) {
            var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];
            markerColor = w.globals.markers.colors[seriesIndex];
            return '<div style="margin:10px;">' +
            '<br>' +
            '<div style="font-size: 11px;">'+
              '<b>'+data.x+'</b>'+
            '</div>'+
            '<div style="font-size: 11px;">'+
              data.name+
            '</div>'+
            '<div style="font-size: 11px;">'+
              'Evaluador: ' + data.expert+
            '</div>'+
            '<br>' +
              '<div class="apexcharts-legend-series">' +
                '<span class="apexcharts-legend-marker" rel="1" style="background: '+markerColor+' !important; color: '+markerColor+'; height: 14px; width: 12px; left: 0px; top: 0px; border-width: 0px; border-color: rgb(255, 255, 255); border-radius: 2px;"></span>'+
                '<span class="apexcharts-legend-text" rel="1" i="0" data:default-text="'+w.globals.initialSeries[seriesIndex].name+'" style="color: rgb(55, 61, 63); font-size: 10px; font-weight: 400; font-family: Helvetica, Inter, sans-serif;">'+w.globals.initialSeries[seriesIndex].name+': ' + data.y.toString() +'</span>'+
              '</div>'
            +'</div>';
          },
        },
        xaxis: {
          position: 'bottom',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            enabled:false,
          },
          tooltip: {
            enabled: false,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val;
            }
          }

        },
      };

        var chart = new ApexCharts(document.querySelector("#"+id), options);
        chart.render();
  }

  function load_chart(id, n_pending, n_delivered, n_finished, title) {

    const data = {
      labels: ['Pending', 'Delivered', 'Finished'],
      datasets: [
        {
          label: '',
          data: [n_pending, n_delivered, n_finished],
          backgroundColor: ["#ed9f7b", "#e6d68e","#a6ed9d"],
        }
      ]
    };
    const config = {
      type: 'pie',
      data: data,
      fill: {
          type: 'gradient',
        },
      options: {
        animation : {
          duration: 5000,
        },
        responsive: true,
        plugins: {
          legend: {
            display:false,
          },
          title: {
            display: true,
            text: title,
            font: {
                size: 11,
                family: 'Helvetica, Inter, sans-serif',
            },
          },

        },
      },
    };
    const myChart = new Chart(document.querySelector('#'+id), config);
  }

  function swap_columns(id, datatable_id) {
    var flexRadio_cualitativo = $('#'+"flexRadio_cualitativo").is(':checked');
    var flexRadio_cuantitativo = $('#'+"flexRadio_cuantitativo").is(':checked');

    var dt = $('#risk_eval_table').DataTable();

    var j_exp = dt.$(".justif-expert");

    var s_exp_num = dt.$(".sev-expert-num");
    var s_exp_qual = dt.$(".sev-expert-qual");

    var i_exp_num = dt.$(".imp-expert-num");
    var i_exp_qual = dt.$(".imp-expert-qual");

    var p_exp_num = dt.$(".prob-expert-num");
    var p_exp_qual = dt.$(".prob-expert-qual");

    if (flexRadio_cualitativo) {

      for(var i = 0; i < j_exp.length; i++) {

        s_exp_num[i].style.display = "none";
        s_exp_qual[i].style.display = "inline-block";

        i_exp_num[i].style.display = "none";
        i_exp_qual[i].style.display = "inline-block";

        p_exp_num[i].style.display = "none";
        p_exp_qual[i].style.display = "inline-block";
      }

    } else if (flexRadio_cuantitativo) {

      for(var i = 0; i < j_exp.length; i++) {

        s_exp_num[i].style.display = "inline-block";
        s_exp_qual[i].style.display = "none";

        i_exp_num[i].style.display = "inline-block";
        i_exp_qual[i].style.display = "none";

        p_exp_num[i].style.display = "inline-block";
        p_exp_qual[i].style.display = "none";

      }
  }
}
</script>

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.ref }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Compañía' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <div class="row mb-8">
                {% if evaluation.company.country %}
                <div class="col-xl-2">
                  <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.company.country.name}}">
                    <img class="w-20px h-20px rounded-circle me-3" src="{{evaluation.company.country.flag}}">
                  </span>
                </div>
                {% endif %}
                <div class="col-xl-10">
                  <div><span>{{ evaluation.company.ref }}</span></div>
                  <div><span>{{ evaluation.company.name }}</span></div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
            <span class="badge badge-info">{{ evaluation.company.type_company }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Sociedades en alcance' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for c in evaluation.company.companies_in_scope_as_list %}
              <span class="badge badge-info text-wrap" style="text-align:left;">{{ c }}</span>
              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Estado' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6" style="display:flex;">
              {% if evaluation.status == "EP" %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-success"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% else %}
                <div style="margin-top:-7px;"><i class="bi bi-dot fs-3x text-danger"data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{evaluation.get_status_display}}"></i></div>
                <div>{{ evaluation.get_status_display }}</div>
              {% endif %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominios de riesgo' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% for dom in evaluation.domain_risks %}

                  <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ dom.name }}">{{ dom.ref }}</span>

              {% endfor %}
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Supervisión administrador' %}</span>
            </div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              {% if evaluation.admin_supervisor %}
                <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ evaluation.admin_supervisor.full_name }} ({{ evaluation.admin_supervisor.position }})">{{ evaluation.admin_supervisor.username_no_domain }}</span>
              {% else %}
                <span class="badge badge-primary">{% trans 'Sin completar' %}</span>
              {% endif %}
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Año de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_year }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Periodo de certificación' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-6">
            <div class="fs-6">
              <span>{{ evaluation.certification_period }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de inicio' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_begin }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
        <div class="row mb-8">
          <!--begin::Col-->
          <div class="col-xl-5">
            <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Fecha de fin' %}</span></div>
          </div>
          <!--end::Col-->
          <!--begin::Col-->
          <div class="col-xl-7">
            <div class="fs-6">
              <span>{{ evaluation.date_end }}</span>
            </div>
          </div>
          <!--end::Col-->
        </div>
      </div>
      <div class="col col-md-3">
        <div class="row mb-8">
          <div>
            <canvas id="pie-main"></canvas>
          </div>
        </div>
        <script>
          load_chart('pie-main','{{evaluation.nrisk_test_inherents_pending}}','{{evaluation.nrisk_test_inherents_delivered}}','{{evaluation.nrisk_test_inherents_finished}}', 'Riesgos evaluados');
        </script>
        <div class="row mb-8">
          <div style="float: right;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: flex-end; margin-top: -10px !important; place-content:center;">
            <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Pendientes' %}">P</span>
            <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Evaluados' %}">E</span>
            <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% trans 'Finalizados' %}">F</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      {% if evaluation.nrisk_test_inherents_delivered != 0 or evaluation.nrisk_test_inherents_finished != 0 %}
        <div>
          <div id="bar-main"></div>
        </div>
        <script>
            var rit = JSON.parse("{{ rit_json }}".replace(/&quot;/g,'"'));
            load_bar("bar-main", rit);
        </script>
      {% else %}
        <div class="row mt-2 mb-2">
          <div class="col-sm">
            <div class="alert alert-primary">{% trans 'Aún no se ha evaluado ningún riesgo' %}.</div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <!--end::Card body-->
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Test de Riesgo Inherente de la Evaluación' %}</div>
    <!--end::Card header-->
    <div style="display:flex;">
      <div style="position:relative; right: 25px; top: 10px;">
        <form>
          <div class="form-check 2">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_cualitativo" onclick="swap_columns(this.id, 'risk_eval_table')" checked>
              <label class="form-check-label" for="flexRadioDefault3">Cualitativo</label>
          </div>
          <div class="form-check 2" style="margin-top: 10px;">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadio_cuantitativo" onclick="swap_columns(this.id, 'risk_eval_table')">
              <label class="form-check-label" for="flexRadioDefault4">Cuantitativo</label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if evaluation.risk_test_inherents.all %}
      <table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable" id="risk_eval_table">
        <thead>
          <tr>
            <th></th>
            <th>{% trans 'Riesgo' %}</th>
            <th>{% trans 'Descripción' %}</th>
            <th>{% trans 'Dominio de riesgo / Experto' %}</th>
            <th class="justif-header">{% trans 'Justificación' %}</th>
            <th class="sev-header">{% trans 'Severidad' %}</th>
            <th class="imp-header">{% trans 'Impacto' %}</th>
            <th class="prob-header">{% trans 'Probabilidad' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for rt in evaluation.risk_test_inherents.all %}
          <tr>
            <td class="text-center align-middle">
              {% if rt.status == 1 %}
                <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">P</span>
              {% elif rt.status == 2 %}
                <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">E</span>
              {% elif rt.status == 3 %}
                <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{rt.get_status_display}}">F</span>
              {% endif %}
            </td>
            <td class="text-center align-middle">

                <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.risk.name }}">{{ rt.risk.risk.ref }}</span>

            </td>
            <td class="align-middle">
              <div style="display:flex;">
                <div style="width:90%">
                  {{ rt.risk.krm_main_elements|striptags|truncatechars:100 }}
                </div>
                <div style="width:10%">
                  <i class="bi bi-file-earmark-text fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rt.risk.krm_main_elements }}" style="margin-right:5px;"></i>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">

                <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ rt.risk.risk.risk_master.domain_risk.name }}" id = "box-child">{{ rt.risk.risk.risk_master.domain_risk.ref }}</span>

                <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ rt.expert.full_name }} ({{ rt.expert.position }})" id = "box-child">{{ rt.expert.username_no_domain }}</span>
            </td>
            <td class="text-center align-middle">
              <span class="justif-expert"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description }}"></i></span>
              <span class="justif-admin" style="display:none;"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"  data-bs-custom-class="custom-tooltip" title="{{ rt.description_admin }}"></i></span>
            </td>

            <td class="text-center align-middle" data-order="{{ rt.severity_level_expert }}" id="sev-row-{{ forloop.counter0 }}">
              <div style="display:flex; gap:10px;">
                <span><i class="bi bi-arrow-right-circle-fill" id = "sev-dot-{{ forloop.counter0 }}"></i></span>
                <span class="sev-expert-num" style="display:none;">{{ rt.severity_level_expert }}</span>
                <span class="sev-expert-qual">{{ rt.severity_level_expert_qualitative }}</span>
              </div>
            </td>
            <td class="text-center align-middle" data-order="{{ rt.impact_level_expert }}">
              <span class="imp-expert-num" style="display:none;">{{ rt.impact_level_expert }}</span>
              <span class="imp-expert-qual">{{ rt.get_impact_level_expert_display }}</span>
            </td>
            <td class="text-center align-middle" data-order="{{ rt.probability_level_expert }}">
              <span class="prob-expert-num" style="display:none;">{{ rt.probability_level_expert }}</span>
              <span class="prob-expert-qual">{{ rt.get_probability_level_expert_display }}</span>
            </td>
          </tr>
          <script>color_severity("{{ rt.severity_level_expert }}", "sev-dot-{{ forloop.counter0 }}");</script>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen tests de riesgo inherente para esta Evaluación' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations_krm:ru_evaluation_risk_inherent_list' %}" class="btn btn-sm btn-secondary">
      <i class="bi bi-arrow-bar-left"></i>
      {% trans 'Volver' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}
