{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <table id="domain_risk_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th>{% trans 'REF' %}</th>
          <th>{% trans 'Nombre' %}</th>
          <th class="text-center">{% trans 'Alcances' %}</th>
          <th class="text-center">{% trans 'Preguntas' %}</th>
        </tr>
      </thead>
      <tbody>
          {% for questionnaire in questionnaires %}
          <tr>
            <td class="align-middle text-center"><a href="{% url 'questionnaires:ga_questionnaire_detail' questionnaire.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
            <td class="align-middle">{{ questionnaire.ref }}</td>
            <td class="align-middle">{{ questionnaire.name }}</td>
            <td>
              {% for scope in questionnaire.scopes.all %}
                <span class="badge badge-secondary text-wrap mb-3">{{ scope }}</span> {% if not forloop.last %} {% endif %}
              {% endfor %}
            </td>
            <td class="align-middle text-center">{{ questionnaire.questions.count }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'questionnaires:ga_questionnaire_create' %}" class="btn btn-sm btn-primary me-3">
      <i class="bi bi-plus-lg"></i>
      {% trans 'Nuevo' %}</a>
    <a href="{% url 'questionnaires:ga_questionnaire_import' %}" class="btn btn-sm btn-secondary">{% trans 'Importar' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}
