{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Riesgo' %}: {{ risk.name }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">

    <div class="row">
      <div class="col-xl-6">
        <fieldset>
          <!-- <legend class="mb-8">{% trans 'Datos del Riesgo' %}</legend> -->
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ risk.ref }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
  
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Nombre' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ risk.name }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
        </fieldset>
      </div>
      <div class="col-xl-6">
        <fieldset>  
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dominio de Riesgo' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
              <a href="{% url 'domain_risks:ga_domain_risk_detail' risk.risk_master.domain_risk.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk_master.domain_risk.name }}">{{ risk.risk_master.domain_risk.ref }}</span></a>
              </div>
            </div>
            <!--end::Col-->
          </div>

          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Riesgo Maestro (N1)' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
              <a href="{% url 'risks_masters:ga_risk_master_detail' risk.risk_master.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk_master.name }}">{{ risk.risk_master.ref }}</span></a>
              </div>
            </div>
            <!--end::Col-->
          </div>
        </fieldset>
      </div>
      

      <div class="row mb-8">
        <div class="col col-md-12">
            <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Descripción del Riesgo' %}</span></div>
            <div>{{ risk.description|safe }}</div>
        </div>
      </div>
      {% if KRM_ACTIVATE %}
      <div class="row mb-8">
        <div class="col col-md-6">
            <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Actividad afectada' %}</span></div>
            <div>{{ risk.krm_activity_affected|safe }}</div>
        </div>
        <div class="col col-md-6">
            <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Personal expuesto' %}</span></div>
            <div>{{ risk.krm_exposed_staff|safe }}</div>
        </div>
      </div>

      <div class="row mb-8">
        <div class="col col-md-6">
            <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Principales eventos' %}</span></div>
            <div>{{ risk.krm_main_events|safe }}</div>
        </div>
        <div class="col col-md-6">
            <div class="fs-6 fw-semibold" style="margin-bottom: 10px"><span class="badge badge-secondary text-wrap">{% trans 'Principales elementos' %}</span></div>
            <div>{{ risk.krm_main_elements|safe }}</div>
        </div>
      </div>

    {% endif %}

  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'risks:ga_risk_update' risk.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'risks:ga_risk_delete' risk.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a>
      <a href="#" class="btn btn-sm btn-secondary ms-2 backHistory"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Controles asociados' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if risk.controls.all %}
    <table id="domain_risk_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
      <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th class="text-center">{% trans 'REF' %}</th>
          <th class="text-center">{% trans 'Descripción' %}</th>
          <th class="text-center">{% trans 'Frecuencia' %}</th>
          <th class="text-center">{% trans 'Tipo' %}</th>
          <th class="text-center">{% trans 'Automático' %}</th>
          <th class="text-center">{% trans 'Riesgos (N2)' %}</th>
          <th class="text-center">{% trans 'Subprocesos' %}</th>
        </tr>
      </thead>
      <tbody>
        {% for control in risk.controls.all %}
        <tr>
            <td class="text-center align-middle"><a href="{% url 'controls:ga_control_detail' control.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
            <td class="text-center align-middle">{{ control.ref }}</td>
            <td class="align-middle">
              <div style="display:flex;">
                <div style="width:90%">
                  {{ control.description|striptags|truncatechars:100 }}
                </div>
                <div style="width:10%">
                  <i class="bi bi-file-earmark-text fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ control.description|striptags }}" style="margin-right:5px;"></i>
                </div>
              </div>
            </td>
            <td class="text-center align-middle">{{ control.control_frequency }}</td>
            <td class="text-center align-middle">{{ control.control_type }}</td>
            <td class="text-center align-middle">{{ control.automation }}</td>
            <td class="align-middle">
              <div id = 'box' class="text-center">
                <div style="cursor: pointer" onclick="toggle_item(this)">
                    <span class="badge badge-info" style="">{{ control.risks.count }}</span>
                </div>
                <div id = "box-container">
                  {% for r1 in control.risks.all %}                                              
                    <a href="{% url 'risks:ga_risk_detail' r1.pk %}">
                    <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ r1.name }}" id = "box-child">{{ r1.ref }}
                    </a>                                               
                  {% endfor %}
                </div>                                             
              </div>                                             
            </td>
            <td class="align-middle">
              <div id = 'box' class="text-center">
                <div style="cursor: pointer" onclick="toggle_item(this)">
                    <span class="badge badge-info" style="">{{ control.sub_processes.count }}</span>
                </div>
                <div id = "box-container">
                {% for s1 in control.sub_processes.all %}                                              
                  <a href="{% url 'subprocess:ga_sub_process_detail' s1.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ s1.name }}" id = "box-child">{{ s1.ref }}</span></a>                                                                       
                {% endfor %}
                </div>                                             
              </div>                                             
            </td>             
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen controles asociados a este Riesgo' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'risks:ga_risk_create' risk.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-plus-lg"></i>
      {% trans 'Añadir' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->
{% endblock content %}