{% load i18n %}

<div class="c-remediation-plan">
  <div class="row">
    <div class="col-12">
      <p><span class="kt-font-bold">{% trans 'FECHA DE VENCIMIENTO DEL PLAN DE REMEDIACIÓN' %}: </span> {{ rm.date_end }}</p>
      <p><span class="kt-font-bold">{% trans 'FICHERO ADJUNTO' %}: </span>
      {% if rm.attachment %}
        <a target="blank" href="{{ MEDIA_URL }}{{ rm.attachment }}"> {% trans 'Descargar adjunto' %}</a>

      {% else %}
        {% trans 'No se ha adjuntado ningún fichero' %}
      {% endif %}</p>
      <p><span class="kt-font-bold">{% trans 'DESCRIPCIÓN' %}: </span> </p>
      {{ rm.description|safe }}
    </div>
  </div>
</div>
