{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th class="text-center">{% trans 'VAT' %}</th>
          <th>{% trans 'Nombre' %}</th>
          <th>{% trans 'País' %}</th>
          <th>{% trans 'Email' %}</th>
        </tr>
      </thead>
      <tbody>
          {% for company in companies %}
          <tr>
            <td class="text-center"><a href="{% url 'companies:ca_company_detail' company.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
            <td class="text-center">{{ company.vat }}</td>
            <td>{{ company.name }}</td>
            <td>{{ company.country.name }}</td>
            <td>{{ company.email|default_if_none:"" }}</td>
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <!--end::Card body-->
</div>
<!--end::Container-->

{% endblock content %}