{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var selectedPKs = [];
    var tables = [];

    $(document).ready(function() {
        $('table').each(function() {
            var table = $(this).DataTable({
                "paging": true,       // Enable pagination
                "pageLength": 10,     // Number of rows per page
                "lengthMenu": [5, 10, 25, 50], // Define the page length menu options
                "dom":
                  "<'row'" +
                  "<'col-sm-6 d-flex align-items-center justify-content-start'l>" +
                  "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                  ">" +
                  "<'table-responsive'tr>" +
                  "<'row'" +
                  "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-start'i>" +
                  "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-end'p>" +
                  ">"
              });
            tables.push(table);
        });

        // Handle button click to save the selected checkboxes across all pages
        $('#saveButton').on('click', function() {
            selectedPKs = [];

            $.each(tables, function(index, table) {
              // Iterate through each page
              for (var i = 0; i < table.page.info().pages; i++) {
                table.page(i).draw(false); // Go to the page without redrawing

                // Find and store selected checkboxes on the current page
                table.$('input[type="checkbox"]:checked').each(function() {
                    var rowData = table.row($(this).closest('tr')).data();
                    var pk = rowData[0].split("value="); // Assuming the PK is in the first column
                    pk = pk[1].split('>');
                    pk = pk[0].replace(/"/g, '');
                    selectedPKs.push(pk);
                });
              }
          });

          $('#selectedPKsInput').val(selectedPKs); 
        });
    });
</script>

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Riesgos (N2) que aplican a la compañía' %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            {% include '_includes/FormErrors.html' %}
          </div>
          <div class="col-12 mb-4">
            <div class="row">
              <div class="mb-4 col-12">
                {% for key, domain_risk in dms.items %}
                <div><h5>Dominio de Riesgo - <span class="badge badge-primary text-wrap">{{ domain_risk.name }}</span></h5></div>
                <table class="table table-striped table-row-bordered gy-5 gs-7 mb-10">
                    <thead>
                      <tr>
                        <th>&nbsp;</th>
                        <th class="text-center" width="15%">{% trans 'REF' %}</th>
                        <th width="30%">{% trans 'Nombre' %}</th>
                        <th width="5%">{% trans 'Descripción' %}</th>
                        <th width="5%">{% trans 'Principales elementos' %}</th>
                        <th width="5%">{% trans 'Principales eventos' %}</th>
                        <th width="5%">{% trans 'Actividad afectada' %}</th>                                                
                        <th width="5%">{% trans 'Personal expuesto' %}</th>
               
                        <th>{% trans 'Riesgo Maestro (N1)' %}</th>          
                        <th class="text-center">{% trans 'Nº de Controles' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rc in domain_risk.risks %}
                        <tr>
                          <td width="20px" class="align-middle"><input type="checkbox" name="risk_pk" class="checkboxinput form-check-input" id="risk_{{ rc.pk }}" {% if rc.active %}checked="checked" {% endif %} value="{{rc.pk }}"></td>
                          <td class="text-center align-middle">{{ rc.risk.ref }}</td>
                          <td class="align-middle">{{ rc.risk.name|striptags|safe|truncatechars:200 }}</td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.description|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_main_elements|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_main_events|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_activity_affected|striptags }}"></i></td>                          
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_exposed_staff|striptags }}"></i></td>
                          <td class="align-middle">{{ rc.risk.risk_master.ref }}</td>
                          <td class="text-center align-middle"><span class="badge badge-info">{{ rc.risk.controls.count }}</span></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <div class="separator my-10"></div>
                  {% endfor %}
                  <input type="hidden" id="selectedPKsInput" name="selectedPKs">
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Body-->
    
      <div class="card-footer py-6">
        <button id="saveButton" class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
        <a href="{% url 'companies:ca_company_detail' company.pk %}"
          class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
      </div>
    </form>

</div>
<!--end::Container-->

{% endblock content %}