{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Riesgos KRM que aplican a la compañía' %}: {{ company.name }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            {% include '_includes/FormErrors.html' %}
          </div>
          <div class="col-12 mb-4">
            <div class="row">
              <div class="mb-4 col-12">
                {% for key, domain_risk in dms.items %}
                <table class="table table-striped table-row-bordered gy-5 gs-7 mb-10">
                    <thead>
                      <tr>
                        <th colspan="3"><h5>{% trans 'Dominio de Riesgo' %}: {{ domain_risk.name }}</h5></th>
                      </tr>
                      <tr>
                        <th>&nbsp;</th>
                        <th>{% trans 'REF' %}</th>
                        <th>{% trans 'Nombre' %}</th>
                        <th>{% trans 'Descripción' %}</th>
                        <th>{% trans 'Actividad afectada' %}</th>
                        <th class="text-center">{% trans 'Describa los principales eventos en los que el riesgo se materializa' %}</th>
                        <th class="text-center">{% trans 'Personal especialmente expuesto al Riesgo' %}</th>
                        <th  class="text-center">{% trans 'Principales elementos del Riesgo' %}</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rc in domain_risk.risks %}
                        <tr>
                          <td width="20px"><input type="checkbox" name="risk_pk" class="checkboxinput form-check-input" id="risk_{{ rc.pk }}" {% if rc.active %}checked="checked" {% endif %} value="{{ rc.pk }}"></td>
                          <td>{{ rc.risk.ref }}</td>
                          <td><label for="risk_{{ rc.pk }}" class="form-check-label">{{ rc.name }}</label>
                          </td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.description|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_activity_affected|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_main_events|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_exposed_staff|striptags }}"></i></td>
                          <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.krm_main_elements|striptags }}"></i></td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Body-->
    
      <div class="card-footer py-6">
        <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
        <a href="{% url 'companies:ga_company_detail' company.pk %}"
          class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
      </div>
    </form>

</div>
<!--end::Container-->

{% endblock content %}