{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Datos de la compañía'  %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-6">
        <fieldset>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Referencia' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.ref }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Nombre' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.name }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'País' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                {% if company.country %}
                <img class="w-20px h-20px rounded-circle me-3" src="{{company.country.flag}}">
                <span>{{ company.country.name }}</span>
                {% endif %}
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Tipo' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
              <span class="badge badge-info">{{ company.type_company|default_if_none:"" }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Alcance societario' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                {% for c in company.companies_in_scope_as_list %}
                  <div><span class="badge badge-info">{{ c }}</span></div>
                {% endfor %}
              </div>
            </div>
            <!--end::Col-->
          </div>
        </fieldset>
      </div>
      <div class="col col-md-6">
        <fieldset>
        <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'CIF' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.vat|default_if_none:"" }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Email' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.email|default_if_none:"" }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Dirección' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.address|default_if_none:"" }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Población' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.state|default_if_none:"" }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>
          <div class="row mb-8">
            <!--begin::Col-->
            <div class="col-xl-5">
              <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Código postal' %}</span></div>
            </div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-xl-7">
              <div class="fs-6">
                <span>{{ company.cp|default_if_none:"" }}</span>
              </div>
            </div>
            <!--end::Col-->
          </div>   
        </fieldset>
      </div>
      
    </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'companies:ga_company_update' company.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'companies:ga_company_delete' company.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a>
      <a href="{% url 'companies:ga_company_list' %}" class="btn btn-sm btn-secondary ms-2 "><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>

<div class="card mb-8">
  <div class="card-header">
    <div class="card-title fs-3 fw-bold">{% trans 'Usuarios de la compañía'  %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mb-4 col-12">
        {% if company.employees.count %}
        <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
          <thead>
            <tr class="fw-semibold fs-6">
              <th class="text-center">{% trans 'Acción' %}</th>
              <th>{% trans 'Email' %}</th>
              <th>{% trans 'Nombre' %}</th>
              <th>{% trans 'Apellidos' %}</th>
              <th>{% trans 'Cargo' %}</th>
              <th>{% trans 'Último inicio de sesión' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for user in company.employees.all %}
            <tr>
              <td class="text-center"><a href="{% url 'users:ga_user_detail' user.pk %}"><i
                    class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
              <td>{{ user.email|default_if_none:"" }}</td>
              <td>{{ user.first_name|default_if_none:"" }}</td>
              <td>{{ user.last_name|default_if_none:"" }}</td>
              <td>{{ user.position|default_if_none:"" }}</td>
              <td>{{ user.last_login|default_if_none:"No ha iniciado sesión todavía" }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div class="alert alert-primary">{% trans 'No existen usuarios en la compañía' %}.</div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if KRM_ACTIVATE %}
    <div class="card mb-8">
      <div class="card-header">
        <div class="card-title fs-3 fw-bold">{% trans 'Expertos de Dominios de Riesgo (RI) en la compañía' %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="mb-4 col-12">
            <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
              <thead>
                <tr class="fw-semibold fs-6">
                  <th class="text-center">{% trans 'Acción' %}</th>
                  <th>{% trans 'REF' %}</th>
                  <th>{% trans 'Dominio de Riesgo' %}</th>
                  <th>{% trans 'Experto asignado (RI)' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for ced in company.experts_domain_risk %}
                  <tr>
                    <td class="text-center">
                      <a href="{% url 'companies:ga_company_assign_expert_update' ced.pk %}"><i class="bi bi-pencil-fill fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Asignar"></i></a>
                    </td>
                    <td><a href="{% url 'domain_risks:ga_domain_risk_detail' ced.domain_risk.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ ced.domain_risk.name|striptags }}">{{ ced.domain_risk.ref }}</span></a></td>
                    <td>{{ ced.domain_risk.name }}</td>
                    <td>
                      {% if not ced.expert %}
                        <span class="badge badge-danger"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Sin asignar">Sin asignar</span></a>
                      {% else %}
                      <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ ced.expert }}">{{ ced.expert }}</span></a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-8">
      <div class="card-header">
        <div class="card-title fs-3 fw-bold">{% trans 'Evaluadores de Dominios de Riesgo (RR) en la compañía'  %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="mb-4 col-12">
            <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
              <thead>
                <tr class="fw-semibold fs-6">
                  <th class="text-center">{% trans 'Acción' %}</th>
                  <th>{% trans 'REF' %}</th>
                  <th>{% trans 'Dominio de Riesgo' %}</th>
                  <th>{% trans 'Evaluadores de Riesgo (RR)' %}</th>
                </tr>
              </thead>
              <tbody>
                {% for ced in company.evaluators_domain_risk.all %}
                <tr>
                  <td class="text-center align-middle">
                      <a href="{% url 'companies:ga_company_assign_evaluator_update' ced.pk %}"><i
                          class="bi bi-pencil-fill fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Asignar"></i></a>
                  </td>
                  <td class="text-center align-middle"><a href="{% url 'domain_risks:ga_domain_risk_detail' ced.domain_risk.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ ced.domain_risk.name }}">{{ ced.domain_risk.ref }}</span></a></td>
                  <td class="align-middle">{{ ced.domain_risk.name }}</td>
                  <td class="align-middle">
                    {% if not ced.evaluator.count %}
                      <span class="badge badge-danger"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Sin asignar">Sin asignar</span></a>
                    {% else %}
                      {% for evaluator in ced.evaluator.all %}
                        <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ evaluator.name }}">{{ evaluator.email }}</span></a>
                        {% if not forloop.last %}<br>{% endif %}
                      {% endfor %}
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="card mb-8">
      <div class="card-header">
        <div class="card-title fs-3 fw-bold">{% trans 'Riesgos que aplican en la compañía'  %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="mb-4 col-12">
            {% if company.krm_risks_active.count %}

              <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
                <thead>
                  <tr class="fw-semibold fs-6">
                    <th class="text-center">{% trans 'Acción' %}</th>
                    <th class="text-center" width="15%">{% trans 'REF' %}</th>
                    <th width="30%">{% trans 'Nombre' %}</th>
                    <th width="5%">{% trans 'Descripción' %}</th>
                    <th width="5%">{% trans 'Actividad afectada' %}</th>
                    <th width="5%">{% trans 'Principales eventos' %}</th>
                    <th width="5%">{% trans 'Principales elementos' %}</th>
                    <th width="5%">{% trans 'Personal expuesto' %}</th>
                    <th>{% trans 'Dominio de Riesgo' %}</th>          
                    <th>{% trans 'Riesgo Maestro (N1)' %}</th>          
                    <th class="text-center">{% trans 'Nº de Controles' %}</th>
                  </tr>
                </thead>
                <tbody>
                    {% for risk in company.krm_risks_active.all %}
                    <tr>
                      <td class="text-center align-middle">
                        <a href="{% url 'risks_company:ga_risk_company_update' risk.pk %}"><i
                            class="bi bi-pencil-fill fs-1x text-primary"></i></a>
                      </td>
                      <td class="text-center align-middle">{{ risk.risk.ref }}</td>
                      <td class="align-middle">{{ risk.risk.name|striptags|safe|truncatechars:200 }}</td>
                      <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.description|striptags }}"></i></td>
                      <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.krm_activity_affected|striptags }}"></i></td>
                      <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.krm_main_events|striptags }}"></i></td>
                      <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.krm_main_elements|striptags }}"></i></td>
                      <td class="text-center align-middle"><i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.krm_exposed_staff|striptags }}"></i></td>
                      <td class="align-middle"><a href="{% url 'domain_risks:ga_domain_risk_detail' risk.risk.risk_master.domain_risk.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.risk_master.domain_risk.name }}">{{ risk.risk.risk_master.domain_risk.ref }}</span></a></td>
                      <td class="align-middle"><a href="{% url 'risks_masters:ga_risk_master_detail' risk.risk.risk_master.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ risk.risk.risk_master.name }}">{{ risk.risk.risk_master.ref }}</span></a></td>
                      <td class="text-center align-middle"><span class="badge badge-info">{{ risk.risk.controls.count }}</span></td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="alert alert-primary">{% trans 'No existen Riesgos (N2) que apliquen sobre esta compañía' %}.</div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--begin::Card footer-->
      <div class="card-footer py-6">
        <a href="{% url 'companies:ga_company_risk_krm_select' company.pk %}" class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
          {% trans 'Editar lista de riesgos que aplican' %}</a>
      </div>
      <!--end::Card footer-->
    </div>

    <div class="card mb-8">
      <div class="card-header">
        <div class="card-title fs-3 fw-bold">{% trans 'Controles que aplican en la compañía'  %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="mb-4 col-12">
            {% if company.controls.count %}
              <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
                <thead>
                  <tr class="fw-semibold fs-6">
                    <th class="text-center">{% trans 'Acción' %}</th>
                    <th class="text-center">{% trans 'REF' %}</th>
                    <th class="text-center">{% trans 'Descripción' %}</th>
                    <th class="text-center">{% trans 'Evidencia' %}</th>
                    <th class="text-center">{% trans 'Frecuencia' %}</th>
                    <th class="text-center">{% trans 'Tipo' %}</th>
                    <th class="text-center">{% trans 'Automático' %}</th>
                    <th class="text-center">{% trans 'Dominios de riesgo' %}</th>
                    <th class="text-center">{% trans 'Riesgos (N2)' %}</th>
                    <th class="text-center">{% trans 'Subprocesos' %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for control in company.controls.all %}
                    <tr>
                      <td class="text-center align-middle"><a href="{% url 'controls:ga_control_detail' control.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
                      <td class="text-center align-middle">{{ control.ref }}</td>
                      <td class="align-middle">
                        <div style="display:flex;">
                          <div style="width:90%">
                            {{ control.description|striptags|truncatechars:100 }}
                          </div>
                          <div style="width:10%">
                            <i class="bi bi-file-earmark-text fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ control.description|striptags }}" style="margin-right:5px;"></i>
                          </div>
                        </div>
                      </td>
                      <td class="text-center align-middle">
                        <i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ control.testing_procedure|striptags }}" style="margin-right:5px;"></i>
                      </td>
                      <td class="text-center align-middle">{{ control.control_frequency }}</td>
                      <td class="text-center align-middle">{{ control.control_type }}</td>
                      <td class="text-center align-middle">{{ control.automation }}</td>
                      <td class="align-middle" >
                        <div id = 'box' class="text-center">
                          <div style="cursor: pointer" onclick="toggle_item(this)">
                              <span class="badge badge-info" style="">{{ control.domain_risks_objects|length }}</span>
                          </div>
                          <div id = "box-container">
                            {% for domain_risk in control.domain_risks_objects %}                                              
                              <a href="{% url 'domain_risks:ga_domain_risk_detail' domain_risk.pk %}">
                                <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ domain_risk.name }}" id = "box-child">{{ domain_risk.ref }}</span>
                              </a>                                               
                            {% endfor %}
                          </div>
                        </div>
                      </td>
                      <td class="align-middle">
                        <div id = 'box' class="text-center">
                          <div style="cursor: pointer" onclick="toggle_item(this)">
                              <span class="badge badge-info" style="">{{ control.risks.count }}</span>
                          </div>
                          <div id = "box-container">
                            {% for r1 in control.risks.all %}                                              
                              <a href="{% url 'risks:ga_risk_detail' r1.pk %}">
                              <span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ r1.name }}" id = "box-child">{{ r1.ref }}
                              </a>                                               
                            {% endfor %}
                          </div>                                             
                        </div>                                             
                      </td>
                      <td class="align-middle">
                        <div id = 'box' class="text-center">
                          <div style="cursor: pointer" onclick="toggle_item(this)">
                              <span class="badge badge-info" style="">{{ control.sub_processes.count }}</span>
                          </div>
                          <div id = "box-container">
                          {% for s1 in control.sub_processes.all %}                                              
                            <a href="{% url 'subprocess:ga_sub_process_detail' s1.pk %}"><span class="badge badge-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-delay-show="250" title="{{ s1.name }}" id = "box-child">{{ s1.ref }}</span></a>                                                                       
                          {% endfor %}
                          </div>                                             
                        </div>                                             
                      </td>        
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <div class="alert alert-primary">{% trans 'No existen controles que apliquen sobre esta compañía' %}.</div>
            {% endif %}
          </div>
        </div>
      </div>
      <!--begin::Card footer-->
      <div class="card-footer py-6">
        <a href="{% url 'companies:ga_company_update' company.pk %}" class="btn btn-sm btn-primary">
          <i class="bi bi-pencil"></i>
          {% trans 'Editar lista de controles aplican' %}</a>
      </div>
      <!--end::Card footer-->
    </div>

{% endif %}
<!--end::Container-->
{% endblock content %}