{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Riesgos (N2) que aplican a la compañía' %}&nbsp&nbsp<span class="badge badge-primary text-wrap">{{ company.name }}</span></div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            {% include '_includes/FormErrors.html' %}
          </div>
          <div class="col-12 mb-4">
            <div class="row">
              <div class="mb-4 col-12">
                <table class="table table-striped table-row-bordered gy-5 gs-7">
                {% for key, domain_risk in dms.items %}
                    <thead>
                      <tr>
                        <th colspan="5"><h5>{{ domain_risk.name }}</h5></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for rc in domain_risk.risks %}
                        <tr>
                          <td width="20px" class="align-middle"><input type="checkbox" name="risk_pk" class="checkboxinput form-check-input" id="risk_{{ rc.pk }}" {% if rc.active %}checked="checked" {% endif %} value="{{ rc.pk }}"></td>
                          <td width="15%" class="align-middle"><a href="{% url 'risks:ga_risk_detail' rc.risk.pk %}"><span class="badge badge-primary text-wrap" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ rc.risk.name }}">{{ rc.risk.ref }}</span></a></td>
                          <td width="25%" class="align-middle">{{ rc.risk.name }}</td>
                          <td class="align-middle">{{ rc.risk.description }}</td>
                          <td><label for="risk_{{ rc.pk }}" class="form-check-label">{{ rc.name }}</label>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    {% endfor %}
                  </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--end::Body-->
    
      <div class="card-footer py-6">
        <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
        <a href="{% url 'companies:ga_company_detail' company.pk %}"
          class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
      </div>
    </form>

</div>
<!--end::Container-->

{% endblock content %}