{% extends layout %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
      <thead>
        <tr class="fw-semibold fs-6">
          <th class="text-center">{% trans 'Acción' %}</th>
          <th class="text-center">{% trans 'REF' %}</th>
          <th>{% trans 'Nombre' %}</th>
          <th class="text-center">{% trans 'País' %}</th>
          <th class="text-center">{% trans 'Tipo' %}</th>
          <th class="text-center">{% trans 'Número de usuarios' %}</th>
          <th class="text-center">{% trans 'Número de Riesgos (N2)' %}</th>
          <th class="text-center">{% trans 'Número de Controles' %}</th>
          {% if KRM_ACTIVATE %}
            <th class="text-center">{% trans 'Expertos de Dominio de Riesgo (RI)' %}</th>
            <th class="text-center">{% trans 'Evaluadores de Riesgo (RR)' %}</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
          {% for company in companies %}
          <tr>
            <td class="text-center align-middle"><a href="{% url 'companies:ga_company_detail' company.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
            <td class="text-center align-middle">{{ company.ref }}</td>
            <td class="align-middle">{{ company.name }}</td>
            <td class="text-center align-middle">
              {% if company.country %}
                <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{company.country.name}}">
                  <img class="w-20px h-20px rounded-circle me-3" src="{{company.country.flag}}">
                </span>
              {% endif %}
            </td>
            <td class="text-center align-middle"><span class="badge badge-info">{{ company.type_company }}</span></td>
            <td class="text-center align-middle"><span class="badge badge-info">{{ company.employees.count }}</span></td>
            <td class="text-center align-middle"><span class="badge badge-info">{{ company.krm_risks_active.count }}</span></td>
            <td class="text-center align-middle"><span class="badge badge-info">{{ company.controls.count }}</span></td>
            {% if KRM_ACTIVATE %}
              <td class="align-middle">
                {% for ced in company.experts_domain_risk %}
                  {% if not ced.expert %}
                    <a href="{% url 'companies:ga_company_assign_expert_update' ced.pk %}"><span class="badge badge-danger"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Sin asignar">{{ ced.domain_risk.ref }}</span></a>
                    <br>
                  {% else %}
                    <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{ ced.expert.first_name }} {{ ced.expert.last_name }} ({{ ced.expert.position }})">{{ ced.domain_risk.ref }}</span></a>
                    <br>
                  {% endif %}   
                {% endfor %}   
              </td>
              <td class="align-middle">
                {% for ced in company.evaluators_domain_risk.all %}
                  {% if not ced.evaluator.count %}
                    <a href="{% url 'companies:ga_company_assign_evaluator_update' ced.pk %}"><span class="badge badge-danger"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Sin asignar">{{ ced.domain_risk.ref }}</span></a>
                    <br>
                  {% else %}
                    <span class="badge badge-success"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{% for evaluator in ced.evaluator.all %}{{ evaluator.first_name }} {{ evaluator.last_name }} ({{ evaluator.position }}){% if not forloop.last %}&#013;{% endif %}{% endfor %}">{{ ced.domain_risk.ref }}</span></a>
                    <br>
                  {% endif %}   
                {% endfor %}   
              </td>
            {% endif %}
          </tr>
          {% endfor %}
      </tbody>
    </table>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'companies:ga_company_create' %}" class="btn btn-sm btn-primary me-2">
      <i class="bi bi-plus-lg"></i>
      {% trans 'Nuevo' %}</a>
    <a href="{% url 'companies:ga_company_import' %}" class="btn btn-sm btn-secondary">
      {% trans 'Importar' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->

{% endblock content %}