{% extends layout %}

{% load i18n %}

{% block js_footer %}
<script>
function copy2clipboard(ele_id, notify_id) {
  // Get the text field
  var copyText = document.getElementById(ele_id);
  var copyNotify = document.getElementById(notify_id);
  navigator.clipboard.writeText(copyText.textContent);
  copyNotify.style.display = 'inline-block'
  setTimeout(function(){copyNotify.style.display = 'none';}, 2000);

}
</script>
{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Datos del Usuario' %}</div>
    <div id= "copy_notify" class="alert alert-primary" role="alert" style="display:none; margin-top:20px;margin-bottom:20px;">
      <i class="bi bi-clipboard fs-1x"></i>
      {% trans 'Copied!' %}
    </div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <fieldset>
      <div class="row">
        <div class="col col-md-6">
          <fieldset>
            <div class="row mb-8">
              <!--begin::Col-->
              <div class="col-xl-5">
                <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Nombre' %}</span></div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-xl-7">
                <div class="fs-6">
                  <span>{{ user.first_name }}</span>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <div class="row mb-8">
              <!--begin::Col-->
              <div class="col-xl-5">
                <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Apellidos' %}</span></div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-xl-7">
                <div class="fs-6">
                  <span>{{ user.last_name|default_if_none:"" }}</span>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <div class="row mb-8">
              <!--begin::Col-->
              <div class="col-xl-5">
                <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Cargo' %}</span></div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-xl-7">
                <div class="fs-6">
                  <span>{{ user.position }}</span>
                </div>
              </div>
              <!--end::Col-->
            </div>
          </fieldset>
        </div>
        <div class="col col-md-6">
          <fieldset>
            <div class="row mb-8">
              <!--begin::Col-->
              <div class="col-xl-5">
                <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Email' %}</span></div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-xl-7">
                <div class="fs-6">
                  <span class="badge badge-success text-wrap" id="user_email" style="display: inline-block">{{ user.email|default_if_none:"" }}</span>
                  <a style="cursor: pointer" onclick="copy2clipboard('user_email','copy_notify')"><i class="bi bi-clipboard fs-1x" style="display: inline-block; position: absolute; right:5% !important;"></i></a>
                </div>
              </div>
              <!--end::Col-->
            </div>
            <div class="row mb-8">
              <!--begin::Col-->
              <div class="col-xl-5">
                <div class="fs-6 fw-semibold"><span class="badge badge-secondary text-wrap">{% trans 'Último inicio de sesión' %}</span></div>
              </div>
              <!--end::Col-->
              <!--begin::Col-->
              <div class="col-xl-7">
                <div class="fs-6">
                  <span>{{ user.last_login|default_if_none:"No ha iniciado sesión todavía" }}</span>
                </div>
              </div>
              <!--end::Col-->
            </div>
          </fieldset>
        </div>
      </div>
    </fieldset>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'users:ga_user_update' user.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'users:ga_user_delete' user.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a>
      <a href="#" class="btn btn-sm btn-secondary ms-2 backHistory"><i
            class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>

<div class="card mb-8">
  <div class="card-header">
    <div class="card-title fs-3 fw-bold">{% trans 'Compañías a las que pertenece' %}</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mb-4 col-12">
        {% if user.companies.count %}
        <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
          <thead>
            <tr class="fw-semibold fs-6">
              <th class="text-center">{% trans 'Acción' %}</th>
              <th class="text-center">{% trans 'REF' %}</th>
              <th class="text-center">{% trans 'Nombre' %}</th>
              <th class="text-center">{% trans 'País' %}</th>
              <th class="text-center">{% trans 'Tipo' %}</th>
              <th class="text-center">{% trans 'Sociedades en alcance' %}</th>
              <th class="text-center">{% trans 'Número de usuarios' %}</th>
            </tr>
          </thead>
          <tbody>
              {% for company in user.companies.all %}
              <tr>
                <td class="text-center align-middle"><a href="{% url 'companies:ga_company_detail' company.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
                <td class="text-center align-middle">{{ company.ref }}</td>
                <td class="align-middle">{{ company.name }}</td>
                <td class="text-center align-middle">
                  <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{company.country.name}}">
                    <img class="w-20px h-20px rounded-circle me-3" src="{{company.country.flag}}">
                  </span>
                </td>
                <td class="text-center align-middle">{{ company.type_company }}</td>
                <td class="align-middle">
                  {% for c in company.companies_in_scope_as_list %}
                    <span class="badge badge-info">{{ c }}</span><br>
                  {% endfor %}   
                </td>
                <td class="text-center align-middle"><span class="badge badge-info">{{ company.employees.count }}</span></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div class="alert alert-primary" role="alert">
            {% trans 'No pertenece a ninguna compañía' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="card mb-8">
  <div class="card-header">
    <div class="card-title fs-3 fw-bold">{% trans 'Compañías que administra' %}</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="mb-4 col-12">
        {% if user.companies_admin.count %}
        <table id="risk_master_table" class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
          <thead>
            <tr class="fw-semibold fs-6">
              <th class="text-center">{% trans 'Acción' %}</th>
              <th class="text-center">{% trans 'REF' %}</th>
              <th class="text-center">{% trans 'Nombre' %}</th>
              <th class="text-center">{% trans 'País' %}</th>
              <th class="text-center">{% trans 'Tipo' %}</th>
              <th class="text-center">{% trans 'Sociedades en alcance' %}</th>
              <th class="text-center">{% trans 'Número de usuarios' %}</th>
            </tr>
          </thead>
          <tbody>
              {% for company in user.companies_admin.all %}
              <tr>
                <td class="text-center align-middle"><a href="{% url 'companies:ga_company_detail' company.pk %}"><i class="bi bi-eye-fill fs-1x text-primary"></i></a></i></td>
                <td class="text-center align-middle">{{ company.ref }}</td>
                <td class="align-middle">{{ company.name }}</td>
                <td class="text-center align-middle">
                  <span data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="{{company.country.name}}">
                    <img class="w-20px h-20px rounded-circle me-3" src="{{company.country.flag}}">
                  </span>
                </td>
                <td class="text-center align-middle">{{ company.type_company }}</td>
                <td class="align-middle">
                  {% for c in company.companies_in_scope_as_list %}
                    <span class="badge badge-info">{{ c }}</span><br>
                  {% endfor %}   
                </td>
                <td class="text-center align-middle"><span class="badge badge-info">{{ company.employees.count }}</span></td>
              </tr>
              {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div class="alert alert-primary" role="alert">
            {% trans 'No administra ninguna compañía' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="card mb-8">
  <div class="card-header">
        <div class="card-title fs-3 fw-bold">{% trans 'Registro de acciones' %}</div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-sm-8">
        {% if user.actions_log.all.count > 0 %}
        <ul>
          {% for action in user.actions_log.all %}
          <li>{{ action.created }} - {{ action.action_description }}</li>
          {% endfor %}
        </ul>
        {% else %}
          <div class="alert alert-primary" role="alert">
            {% trans 'Sin acciones hasta el momento' %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!--end::Container-->
{% endblock content %}