{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

<!--begin::Container-->
<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->

    <form method="post" class="kt-form kt-form--label-right" novalidate>
      {% csrf_token %}
      <div class="card-body">
        <div class="row">
          <div class="col-12">
            {% include '_includes/FormErrors.html' %}
          </div>
          <div class="col-12 col-md-6 mb-4">
            <fieldset>
              <legend>{% trans 'Datos del usuario' %}</legend>
              <div class="row">
                <div class="mb-4">
                  <span class="badge badge-secondary text-wrap">{% trans 'Email' %} </span> <span class="badge badge-success text-wrap">{{ object.email|default_if_none:"" }}</span>
                </div>
                <div class="mb-4 col-12">
                  {{ form.first_name|as_crispy_field }}
                </div>
                <div class="mb-4 col-12">
                  {{ form.last_name|as_crispy_field }}
                </div>
                <div class="mb-4 col-12">
                  {{ form.position|as_crispy_field }}
                </div>
                <div class="mb-4 col-12">
                  {{ form.is_superuser|as_crispy_field }}
                </div>
              </div>
            </fieldset>
          </div>

          <div class="col-12 col-md-6 mb-4">
            <legend>&nbsp</legend>
            <div class="mb-4">
              <span>&nbsp</span>
            </div>
            <div class="mb-4">
              {{ form.password1|as_crispy_field }}
            </div>
            <div class="mb-4">
              {{ form.password2|as_crispy_field }}
            </div>
          </div>
          <div class="separator my-10"></div>
          <div class="col-12 col-md-6">
            <legend>{% trans 'Empresas a la que pertenece' %}</legend>
              {{ form.companies|as_crispy_field }}
          </div>
          <div class="separator my-10"></div>
          <div class="col-12 col-md-6">
            <legend>{% trans 'Empresas que administra' %}</legend>
            {{ form.companies_admin|as_crispy_field }}
          </div>
        </div>
      </div>
      <!--end::Body-->
    
      <div class="card-footer py-6">
        <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
        <a href="{% url 'users:ga_user_detail' object.pk %}"
          class="btn btn-sm btn-secondary ms-2"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</a>
      </div>
    </form>

</div>
<!--end::Container-->

{% endblock content %}