{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% if cts.count > 0 %}

<style>
  canvas {
    width: 125px !important;
    height: 125px !important;
    padding: 0;
    margin: auto;
  }

  .badge.badge-success.n1 {
    margin: 5px;
    background-color: #d4d0c7 !important;
  }

  .badge.badge-success.n2 {
    margin: 5px;
    background-color: #ed9f7b !important;
  }

  .badge.badge-success.n3 {
    margin: 5px;
    background-color: #e6d68e !important;
  }

  .badge.badge-success.n4 {
    margin: 5px;
    background-color: #7dedf5 !important;
  }

  .badge.badge-success.n5 {
    margin: 5px;
    background-color: #a6ed9d !important;
  }
</style>

<table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
  <thead>
    <tr>
      <th width="70px">{% trans 'REF' %}</th>
      <th>{% trans 'CONTROL' %}</th>
      <th>{% trans 'CONTROL OWNER' %}</th>
      <th>{% trans 'CONTROL SUPERVISOR' %}</th>
      <th>{% trans 'STATUS' %}</th>
      <th>{% trans 'RESULTADO' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for ct in cts %}
      <tr>
          <td><a href="{% url 'control_tests:ca_control_test_detail' ct.pk %}">#{{ ct.identifier }}</a></td>
          <td>
            {{ct.control.ref }}
          </td>
          <td>
            {% if ct.control_test_owner %}
                {{ ct.control_test_owner }}
            {% else %}
                {% trans 'Sin asignar' %}
            {% endif %}
          </td>
          <td>
            {% if ct.control_test_supervisor %}
              {{ ct.control_test_supervisor }}
            {% else %}
              {% trans 'Asignar' %}
            {% endif %}
          </td>
          <td class="text-center align-middle">
            {% if ct.status == "NS" %}
            <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">NS</span>
            {% elif ct.status == "WO" %}
            <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">WO</span>
            {% elif ct.status == "WS" %}
            <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">WS</span>
            {% elif ct.status == "WA" %}
            <span class="badge badge-success n4" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">WA</span>
            {% elif ct.status == "FI" %}
            <span class="badge badge-success n5" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">FI</span>
            {% endif %}
          </td>
          <td class="text-center align-middle">
            {% if ct.result == "SE" %}
            <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">NS</span>
            {% elif ct.result == "EF" %}
            <span class="badge badge-success n5" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">EF</span>
            {% elif ct.result == "NE" %}
            <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">NE</span>
            {% elif ct.result == "NA" %}
            <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">NA</span>
            {% endif %}
          </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

  <div class="alert alert-primary" role="alert">
    {% trans 'Sin controles' %}
  </div>

{% endif %}
