{% extends 'layout/default.html' %}

{% load i18n %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card body-->
  <div class="card-body">
    {% include '_includes/control_test/_control_test_info_head.html' with control_test=control_test %}
  </div>
  <!--end::Card body-->
</div>
<!--end::Container-->

<div class="card">
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'RESPUESTAS' %}</div>
    <!--end::Card header-->
  </div>
  <div class="card-body">
    {% if object.answers.count > 0 %}
      {% for answer in object.answers.all %}
        {% include 'includes/control_test/ga/_control_test_answer.html' %}
        {% if not forloop.last %}
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="kt-font-info kt-font-bold">
        {% trans 'Todavía no hay respuestas para este test de control' %}
      </p>
    {% endif %}

    {% if object.remediation_plans.all.count > 0 %}
      <h5>{% trans 'PLANES DE REMEDIACIÓN' %}</h5>
      {% for rm in object.remediation_plans.all %}
        {% include 'includes/remediation_plan/ga/_remediation_plan.html' with rm=rm %}
      {% endfor %}
    {% endif %}
  </div>
</div>

{% endblock content %}