{% extends layout %}

{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-4">
        <p><span class="fs-6 fw-semibold">{% trans 'Estado' %}: </span>{{ evaluation.get_status_display }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'REF' %}: </span>{{ evaluation.ref }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Auto supervisión' %}: </span>{{ evaluation.allow_self_autosupervision|yesno:_("Si,No") }}</p>
      </div>
      <div class="col col-md-4">
        <p><span class="fs-6 fw-semibold">{% trans 'Compañía' %}: </span>{{ evaluation.company }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Año de certificación' %}: </span>{{ evaluation.certification_year }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Periodo de certificación' %}: </span>{{ evaluation.certification_period }}</p>
      </div>
      <div class="col col-md-4">
        <p><span class="fs-6 fw-semibold">{% trans 'Fecha de inicio' %}: </span>{{ evaluation.date_begin }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Fecha límite para control owner' %}: </span>{{ evaluation.date_intermediate }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Fecha final' %}: </span>{{ evaluation.date_end }}</p>
      </div>
    </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <!-- <a href="{% url 'evaluations:ca_evaluation_update' evaluation.pk %}" class="btn btn-sm btn-primary">
      <i class="bi bi-pencil"></i>
      {% trans 'Editar' %}</a>
    <a href="{% url 'evaluations:ca_evaluation_delete' evaluation.pk %}" class="btn btn-sm btn-danger ms-2">
      <i class="bi bi-trash"></i>
      {% trans 'Eliminar' %}</a> -->
    {% if evaluation.status == 'SI' %}
      {% if evaluation.is_completed_assing %}
        <form method="post" class="kt-form kt-form--label-right"
          action="{% url 'evaluations:ca_evaluation_detail' evaluation.pk %}">
          {% include '_includes/FormErrors.html' %}
          {% csrf_token %}
          <input type="hidden" name="evaluation_pk" value="{{ evaluation.pk }}">
          <button class="btn btn-sm btn-primary me-2"><i class="bi bi-clipboard-check"></i>
          {% trans 'Lanzar controles' %}</button>
          <a href="{% url 'evaluations:ca_evaluation_list' %}" class="btn btn-sm btn-secondary"><i
              class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
        </form>
      {% else %}
        <button type="button" class="btn btn-sm btn-secondary me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="{% trans 'Debe asignar todos los controles para lanzar la evaluación' %}"><i class="bi bi-clipboard-check"></i>{% trans 'Lanzar controles' %}
        </button>
      {% endif %}
    {% elif evaluation.status == 'FI' %}
    <form method="post" class="kt-form kt-form--label-right"
      action="{% url 'evaluations:ca_evaluation_detail' evaluation.pk %}">
      {% include '_includes/FormErrors.html' %}
      {% csrf_token %}
      <input type="hidden" name="process_test" value="{{ evaluation.pk }}">
      <button class="btn btn-sm btn-primary mr-2"><i class="bi bi-download"></i>{% trans 'Descargar Test de Proceso' %}</button>
      <a href="{% url 'evaluations:ca_evaluation_list' %}" class="btn btn-sm btn-secondary mr-2"><i
          class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
    </form>
    {% else %}
    <a href="{% url 'evaluations:ca_evaluation_list' %}" class="btn btn-sm btn-secondary mr-2"><i
        class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
    {% endif %}
  </div>
  <!--end::Card footer-->
</div>

<div class="card">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Test de Control de la Evaluación' %}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% if evaluation.control_tests.all %}
      <table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
        <thead>
          <tr>
            <th width="70px">{% trans 'REF' %}</th>
            <th>{% trans 'CONTROL' %}</th>
            <th>{% trans 'OWNER' %}</th>
            <th>{% trans 'SUPERVISOR' %}</th>
            <th width="30%">{% trans 'STATUS' %}</th>
            <th width="100px">{% trans 'RESULTADO' %}</th>
          </tr>
        </thead>
        <tbody>
          {% for ct in evaluation.control_tests.all %}
          <tr>
            {% if evaluation.status == 'SI' %}
              <td><a href="{% url 'control_tests:control_test_assign' ct.pk %}">#{{ ct.identifier }}</a></td>
            {% else %}
              <td><a href="{% url 'control_tests:control_test_detail' ct.pk %}">#{{ ct.identifier }}</a></td>
            {% endif %}
            <td><a target="_blank" href="{% url 'controls:ca_control_detail' ct.control.pk %}">{{ct.control.ref}}</a></td>
            <td>
              {% if ct.control_test_owner %}
                {{ ct.control_test_owner }}
              {% else %}
                <a href="{% url 'control_tests:control_test_assign' ct.pk %}">{% trans 'Asignar' %}</a>
              {% endif %}
            </td>
            <td>
              {% if ct.control_test_supervisor %}
                {{ ct.control_test_supervisor }}
              {% else %}
                <a href="{% url 'control_tests:control_test_assign' ct.pk %}">{% trans 'Asignar' %}</a>
              {% endif %}
            </td>
            <td>{{ ct.get_status_display }}</td>
            <td>{{ ct.get_result_display }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
    <div class="row mt-2 mb-2">
      <div class="col-sm">
        <div class="alert alert-primary">{% trans 'No existen tests de control para esta Evaluación' %}.
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations:ca_evaluation_list' %}" class="btn btn-sm btn-secondary">
      <i class="bi bi-arrow-bar-left"></i>
      {% trans 'Volver' %}</a>
  </div>
  <!--end::Card footer-->
</div>
<!--end::Container-->
{% endblock content %}