{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}

{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{{ page_title }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    <div class="row">
      <div class="col col-md-4">
        <p><span class="fs-6 fw-semibold">{% trans 'Estado' %}: </span>{{ evaluation.get_status_display }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'REF' %}: </span>{{ evaluation.ref }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Auto supervisión' %}: </span>{{ evaluation.allow_self_autosupervision|yesno:_("Si,No") }}</p>
      </div>
      <div class="col col-md-4">
        <p><span class="fs-6 fw-semibold">{% trans 'Compañía' %}: </span>{{ evaluation.company }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Año de certificación' %}: </span>{{ evaluation.certification_year }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Periodo de certificación' %}: </span>{{ evaluation.certification_period }}</p>
      </div>
      <div class="col col-md-4">
        <p><span class="fs-6 fw-semibold">{% trans 'Fecha de inicio' %}: </span>{{ evaluation.date_begin }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Fecha límite para control owner' %}: </span>{{ evaluation.date_intermediate }}</p>
        <p><span class="fs-6 fw-semibold">{% trans 'Fecha final' %}: </span>{{ evaluation.date_end }}</p>
      </div>
    </div>

    <div class="separator my-10"></div>

    <div class="row">
      <div class="col-12 col-md-10">
        <h3 class="kt-portlet__head-title">
          {% trans 'Importar plantilla de asignación de Controles para el Test de Proceso' %}: {{ pt.get_name }}
        </h3>
        <form method="post"  class="kt-form kt-form--label-right col-5" novalidate  enctype="multipart/form-data">
          {% include '_includes/FormErrors.html' %}
          {% csrf_token %}
          <div class="col-12 col-md-8 mb-4">
              {{ form.evaluation_assign_file|as_crispy_field }}
          </div>
          <button  class="btn btn-primary btn-sm">{% trans 'Subir plantilla de asignación de controles' %}</button>
        </form>
      </div>
    </div>
  </div>
  <!--end::Card body-->
  <!--begin::Card footer-->
  <div class="card-footer py-6">
    <a href="{% url 'evaluations:ga_evaluation_list' %}" class="btn btn-sm btn-secondary mr-2"><i
        class="bi bi-arrow-bar-left"></i>{% trans 'Atrás' %}</a>
  </div>
  <!--end::Card footer-->
</div>
{% endblock content %}