{% extends 'layout/default.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}
<script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>

<script>
  $(document).ready(function () {
    ClassicEditor
      .create(
        document.querySelector('#cta_description'),
        {
          language: {
            // The UI will be English.
            ui: 'es',

            // But the content will be edited in Arabic.
            content: 'es'
          }
        }
      )
      .then(editor => {
        const wordCountPlugin = editor.plugins.get('WordCount');
        const wordCountWrapper = document.getElementById('word-count');
        wordCountWrapper.appendChild(wordCountPlugin.wordCountContainer);
      })
      .catch(error => {
      });
    
      {% get_current_language as LANGUAGE_CODE %}
    {% if LANGUAGE_CODE == 'es' %}
      $(".datepicker").flatpickr({
        "locale": "es",
        dateFormat: "d/m/Y",
      });
    {% else %}
      $(".datepicker").flatpickr({
            "locale": "en",
            dateFormat: "Y-m-d",
      });
    {% endif %}

  });
</script>
{% endblock js_footer %}

{% block content %}

{% include '_includes/Messages.html' %}

{% include '_includes/FormErrors.html' %}

{% if control_test.remediation_plan_needed and control_test.remediation_plans.count == 0%}
  <div class="row mt-2 mb-2">
    <div class="col-sm">
      <div class="alert alert-warning ">
        {% trans 'Debe establecerse un plan de remediación, en la parte inferior podrá rellenarlo si es el Control Owner' %}
      </div>
    </div>
  </div>
{% elif control_test.remediation_plan_needed and control_test.remediation_plans.count > 0 %}
<div class="row mt-2 mb-2">
  <div class="col-sm">
    <div class="alert alert-warning ">
      {% trans 'Puede editar el plan de remediación ya adjunto, en la parte inferior podrá rellenarlo si es el Control Owner' %}
    </div>
  </div>
</div>
{% endif %}

<!--begin::Container-->
<div class="card mb-8">
  <!--begin::Card header-->
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'Datos del Test de Control' %}: {{control_test.identifier }}</div>
    <!--end::Card header-->
  </div>
  <!--end::Card header-->
  <!--begin::Card body-->
  <div class="card-body">
    {% include '_includes/control_test/_control_test_info_head.html' with control_test=control_test %}
  </div>
  <!--end::Card body-->
</div>
<!--end::Container-->

<div class="card mb-8">
  <div class="card-header">
    <!--begin::Card header-->
    <div class="card-title fs-3 fw-bold">{% trans 'RESPUESTAS' %}</div>

    <div class="col-xl-3">
      <div style="margin-top:15px;">
      <h5 style="float: right ; font-size: 14px;">{% trans 'RESULTADO ACTUAL:&emsp;' %}<span style="float:right; font-size: 14px;" class="badge badge-{% if control_test.result == 'EF' %}success{% else %}danger{% endif %} text-wrap">{{ control_test.get_result_display }}</span></h5></div>
  </div>
    <!--end::Card header-->
  </div>
  <div class="card-body">
    {% if control_test.answers.count > 0 %}
      {% for answer in control_test.answers.all %}
        {% include '_includes/control_test/ga/_control_test_answer.html' %}
        {% if not forloop.last %}
          <div class="separator my-10"></div>
        {% endif %}
      {% endfor %}
    {% else %}
      <p class="fs-6 fw-semibold">
        {% trans 'Todavía no hay respuestas para este test de control' %}
      </p>
    {% endif %}

    {% if control_test.remediation_plans.all.count > 0 %}
      <div class="separator my-10"></div>

      <h5 class="mb-8">{% trans 'PLAN DE REMEDIACIÓN' %}</h5>
        {% include '_includes/remediation_plan/ga/_remediation_plan.html' with rm=control_test.remediation_plans.first %}
    {% endif %}
  </div>
</div>

{% if control_test.status != 'WS' or control_test.status != 'WO' %}
    {% if control_test.status == 'WS' and request.user == control_test.control_test_supervisor %}
      <div class="card">
        <div class="card-header">
          <!--begin::Card header-->
          <div class="card-title fs-3 fw-bold">{% trans 'NUEVA RESPUESTA' %}</div>
          <!--end::Card header-->
        </div>

        <form method="post" enctype='multipart/form-data'>
          {% csrf_token %}
          <div class="card-body">
            {% include '_includes/FormErrors.html' %}
            <div class="row mb-4">
              <div class="col-12 col-xl-10 mb-4">
                <div class="mb-8 col-12">
                  <legend class="mb-8">{% trans 'Supervisión del control' %}</legend>
                  <p><strong>{% trans 'Si necesita más información para poder marcar el control como Completado, marque la siguiente casilla. Esto le devolverá el control al responsable de cumplimentarlo para que pueda aportar más información. Utilice el campo de texto anterior para requerir la información necesaria.' %}</strong></p>
                  {{ form.more_information|as_crispy_field }}
                </div>
                <div class="mb-8 col-12">
                  <legend>{% trans 'Descripción' %}</legend>
                  {{ form.description|as_crispy_field }}
                  <div id="word-count"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer py-6">
            <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Revisión completada' %}</button>
            <button
            class="btn btn-sm btn-secondary ms-2 backHistory"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</button>
          </div>
        </form>
      </div>
    {% endif %}


    {% if control_test.status == 'WO' and request.user == control_test.control_test_owner %}
      <div class="card">
        {% if control_test.remediation_plan_needed %}
          <div class="card-header">
            <!--begin::Card header-->
            <div class="card-title fs-3 fw-bold">{% trans 'NUEVO PLAN DE REMEDIACIÓN' %}</div>
            <!--end::Card header-->
          </div>
          <form method="post" enctype='multipart/form-data' novalidate>
            {% csrf_token %}
            <div class="card-body">
              <div class="row mb-4">
                {% include '_includes/FormErrors.html' %}
                <div class="col-12 col-xl-5 mb-4">
                  <div class="mb-8 col-8">
                    <legend>{% trans 'Datos del plan de remediación' %}</legend>
                    {{ form.date_end|as_crispy_field }}
                  </div>
                  <div class="mb-8">
                      {{ form.attachment|as_crispy_field }}
                  </div>
                </div>
                <div class="col-12 col-xl-7 mb-4">
                  <fieldset>
                    <legend>{% trans 'Descripción' %}</legend>
                    {{ form.description|as_crispy_field }}
                    <div id="word-count"></div>
                  </fieldset>
                </div>
              </div>
            </div>
            
            <div class="card-footer py-6">
              <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Guardar' %}</button>
              <button
              class="btn btn-sm btn-secondary ms-2 backHistory"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</button>
            </div>
          </form>
        {% else %}
          <div class="card-header">
            <!--begin::Card header-->
            <div class="card-title fs-3 fw-bold">{% trans 'NUEVA RESPUESTA' %}</div>
            <!--end::Card header-->
          </div>
          <form method="post" enctype='multipart/form-data' novalidate>
            {% csrf_token %}
            <div class="card-body">
              <div class="row mb-4">
                {% include '_includes/FormErrors.html' %}
                <div class="col-12 col-xl-5 mb-4">
                  <div class="mb-8 col-8">
                    <legend>{% trans 'Resultado y evidencias' %}</legend>
                    {{ form.control_result|as_crispy_field }}
                  </div>
                  {% if BRAND != 'globalvia'  %}
                  <div class="mb-8">
                      {{ form.attachment_1|as_crispy_field }}
                  </div>
                  <div class="mb-8">
                    {{ form.attachment_2|as_crispy_field }}
                  </div>
                  <div class="mb-8">
                    {{ form.attachment_3|as_crispy_field }}
                  </div>
                  {% endif %}
                </div>
                <div class="col-12 col-xl-7 mb-4">
                  <fieldset>
                    <legend>{% trans 'Descripción' %}</legend>
                    {{ form.description|as_crispy_field }}
                    <div id="word-count"></div>
                  </fieldset>
                </div>
              </div>
            </div>
            
            <div class="card-footer py-6">
              <button class="btn btn-sm btn-primary"><i class="bi bi-hdd"></i> {% trans 'Testeo finalizado' %}</button>
              <!-- <button
              class="btn btn-sm btn-secondary ms-2 backHistory"><i class="bi bi-arrow-bar-left"></i>{% trans 'Cancelar' %}</button> -->
            </div>
            
          </form>
        {% endif %}
      </div>
    {% endif %}
{% endif %}

{% endblock content %}