{% extends layout %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block js_footer %}
{% get_current_language as LANGUAGE_CODE %}

<!-- <script src="https://npmcdn.com/flatpickr/dist/l10n/es.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->

<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/l10n/es.js"></script>
<script src="{% static 'js/flatpickr_es.js' %}"></script>


<script>
  if (LANGUAGE_CODE == 'es') {
    $(".datepicker").flatpickr({
      locale: "es",
      dateFormat: "Y-m-d",        // formato interno (para .val())
      altInput: true,             // lo que ve el usuario
      altFormat: "d/m/Y",
    });
  }
  else {
    $(".datepicker").flatpickr({
          "locale": "en",
          dateFormat: "Y-m-d",
    });
  }

  $(document).ready(function(){

    $('.filterable .filters input').keyup(function(e){
        /* Ignore tab key */
        var code = e.keyCode || e.which;
        if (code == '9') return;
        /* Useful DOM data and selectors */
        var $input = $(this),
        inputContent = $input.val().toLowerCase(),
        $panel = $input.parents('.filterable'),
        column = $panel.find('.filters th').index($input.parents('th')),
        $table = $panel.find('.table'),
        $rows = $table.find('tbody tr');
        /* Dirtiest filter function ever ;) */
        var $filteredRows = $rows.filter(function(){
            var value = $(this).find('td').eq(column).text().toLowerCase();
            return value.indexOf(inputContent) === -1;
        });
        /* Clean previous no-result if exist */
        $table.find('tbody .no-result').remove();
        /* Show all rows, hide filtered ones (never do that outside of a demo ! xD) */
        $rows.show();
        $filteredRows.hide();
        /* Prepend no-result row if all rows are filtered */
        if ($filteredRows.length === $rows.length) {
            $table.find('tbody').prepend($('<tr class="no-result text-center"><td colspan="'+ $table.find('.filters th').length +'">No result found</td></tr>'));
        }
    });
  });
</script>
{% endblock %}

{% block content %}

{% include '_includes/Messages.html' %}

<script src="{% static 'js/apexcharts.js' %}"></script>

<script>
  var control_tests = {};
  var evidences = {};
  var frequency_evaluation = {};
  var evals = [];
  var control_type_evaluation = {'preventive': {}, 'detective': {}};
  var key_controls_evaluation = {"key": {}, "non-key": {}};
  var ct_status_evaluation = {};
  var ct_result_evaluation = {"effective": {}, "not-established": {}, "effective-recommendations": {}, "not-effective": {}, "not-applicable": {}};
  var subprocesses = {};
  var risks = {};

  // var dict_status = {};
  // var dict_ev_status = {};
  // var map = new Map();
  // var evaluations = [];

  function evidence_percentage(id){
    var keys = [];
    var values = [];
    var percentages = [];

    Object.entries(evidences).forEach(([key, value]) => {
      keys.push(key);
      value = value.map(str => str.replace('[]', ''));
      const nonEmptyListsCount = value.filter(list => list.length > 0).length;
      percentages.push((nonEmptyListsCount/value.length * 100).toFixed(2));
    });

    var options = {
      chart: {
        type: 'polarArea',
      },
      noData: {
        text: "No data available",
        align: 'center',
        verticalAlign: 'middle',
        offsetX: 0,
        offsetY: 0,
        style: {
          color: undefined,
          fontSize: '14px',
          fontFamily: undefined
        }
      },
      title: {
        floating: false,
        text: 'Percentage of controls with evidences per evaluation',
        align: 'middle',
        offsetY: -5,
        style: {
          fontSize: '18px'
        }
      },
      series: percentages,
      labels: keys,
      dataLabels: {
        enabled: true,
        formatter: function (val, opts) {
          return percentages[opts.seriesIndex] + '%'; // Format the values to display as percentages with two decimal places
        },
      },
      stroke: {
        colors: ['#fff']
      },
      fill: {
        opacity: 0.8
      },
      legend: {
        position: "top",
      },
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
        }
      }]
    };

    var chart = new ApexCharts(document.querySelector("#"+id), options);
    chart.render();
  }

  function ct_subprocesses (id){
    var keys = [];
    var series = [];

    Object.entries(subprocesses).forEach(([key, value]) => {
      var dict = [];
      var data_dict = [];
      keys.push(key);

      value = value.map(str => str.replace('[', ''));
      value = value.map(str => str.replace(']', ''));
      value = value.map(str => str.replace(new RegExp("\'", 'g'), ""));

      for (const v of value){
        const v_mod = v.replace(new RegExp("\'", 'g'), "");
        if (Object.keys(dict).includes(v)){
          dict[v] += 1;
        }else{
          dict[v] = 1;
        }
      }

      Object.entries(dict).forEach(([key2, value2]) => {
        data_dict.push({x: key2, y: value2});
      });

      series.push({
        "name": key,
        "data": data_dict
      });
    });

    var options = {
      series: series,
      legend: {
        position: "top",
        show: true
      },
      labels: keys,
      noData: {
        text: "No data available",
        align: 'center',
        verticalAlign: 'middle',
        offsetX: 0,
        offsetY: 0,
        style: {
          color: undefined,
          fontSize: '14px',
          fontFamily: undefined
        }
      },
      title: {
        text: 'Subprocesses per evaluation',
        align: 'middle',
        offsetY: -5,
        style: {
          fontSize: '18px'
        }
      },
      chart: {
        height: 400,
        type: 'treemap'
      },
    };

    var chart = new ApexCharts(document.querySelector("#"+id), options);
    chart.render();
  }

  function ct_control_status (id, dict, translations){
    var evaluations = [];
    var not_started = [];
    var aw_owner = [];
    var aw_supervisor = [];
    var aw_administrator = [];
    var finished= [];
    var barHeight= 50;

    Object.entries(dict).forEach(([key, value]) => {
      evaluations.push(key);
      Object.entries(value).forEach(([key2, value2]) => {
        if (key2 == "Not started"){
          not_started.push(value2);
        } else if (key2 == "Awaiting Control Owner") {
          aw_owner.push(value2);
        } else if (key2 == "Awaiting Control Supervisor") {
          aw_supervisor.push(value2);
        } else if (key2 == "Awaiting Control Administrator") {
          aw_administrator.push(value2);
        } else if (key2 == "Finished") {
          finished.push(value2);
        }
      });
    });

    const minHeight= document.getElementById("chart-6-container").offsetHeight;
    chartHeight = Math.max(barHeight*evaluations.length, minHeight);

    var options = {
      series: [{
        name: translations["controldashboard"]["status-ns"],
        data: not_started,
        color: '#d4d0c7'
      }, {
        name: translations["controldashboard"]["status-awco"],
        data: aw_owner,
        color: '#a6ed9d'
      }, {
        name: translations["controldashboard"]["status-awcs"],
        data: aw_supervisor,
        color: '#e6d68e'
      }, {
        name: translations["controldashboard"]["status-awca"],
        data: aw_administrator,
        color: '#ed9f7b'
      }, {
        name: translations["controldashboard"]["status-fi"],
        data: finished,
        color: '#ea7d7e'
      }],
      chart: {
        type: 'bar',
        height: chartHeight,
        stacked: true,
      },
      noData: {
        text: translations["controldashboard"]["no-data"],
        align: 'center',
        verticalAlign: 'middle',
        offsetX: 0,
        offsetY: 0,
        style: {
          color: undefined,
          fontSize: '14px',
          fontFamily: undefined
        }
      },
      plotOptions: {
        bar: {
          horizontal: true,
          barHeight: '80%',
          dataLabels: {
            total: {
              enabled: true,
              offsetX: 0,
              style: {
                fontSize: '13px',
                fontWeight: 900
              }
            }
          }
        },
      },
      stroke: {
        width: 1,
        colors: ['#fff']
      },
      title: {
        text: translations["controldashboard"]["test-status"],
        align: 'middle',
        offsetY: -5,
        style: {
          fontSize: '18px'
        }
      },
      xaxis: {
        categories: evaluations,
        labels: {
          formatter: function (val) {
            return val
          }
        }
      },
      yaxis: {
        title: {
          text: undefined
        },
      },
      tooltip: {
        y: {
          formatter: function (val) {
            return val
          }
        }
      },
      fill: {
        opacity: 1
      },
      legend: {
        position: 'top',
        offsetY: -17,
      }
    };

    var chart = new ApexCharts(document.querySelector("#"+id), options);
    chart.render();
  }

  function ct_control_type (id, dict, labels, translations){
    var keys = [];
    var values = [];
    var series = [];
    var barWidth= 50;
    let totalWidth= 0;
    let title= "";
    var colors_code= [];

    Object.entries(dict).forEach(([key, value]) => {
      keys.push(key);
      values = [];
      Object.entries(value).forEach(([key2, value2]) => {
        values.push(value2);
      });
      series.push({
        "name": translations["controldashboard"][key],
        "data": values,
      });
    });

    if (id === "chart-4"){
      title = translations["controldashboard"]["test-type"];
      const minWidth = document.getElementById('chart-4-container').offsetWidth;
      totalWidth = Math.max(barWidth * labels.length, minWidth-5);
      colors_code= ["#a6ed9d", "#d4d0c7"]
    } else if (id === "chart-3"){
      title = translations["controldashboard"]["test-key"];
      const minWidth = document.getElementById('chart-3-container').offsetWidth;
      totalWidth = Math.max(barWidth * labels.length, minWidth-5);
      colors_code= ["#e6d68e", "#ed9f7b"]
    } else if (id === "chart-7"){
      title = translations["controldashboard"]["test-result"];
      const minWidth = document.getElementById('chart-7-container').offsetWidth;
      totalWidth = Math.max(barWidth * labels.length, minWidth-5);
      colors_code= ["#a6ed9d", "#d4d0c7", "#e6d68e", "#ed9f7b", "#7dedf5"];
    }

    var options = {
        series: series,
        chart: {
          type: 'bar',
          height: 400,
          width: totalWidth,
          stacked: true,
          toolbar: {
            show: true
          },
          zoom: {
            enabled: true
          }
        },
        noData: {
        text: translations["controldashboard"]["no-data"],
        align: 'center',
        verticalAlign: 'middle',
        offsetX: 0,
        offsetY: 0,
        style: {
          color: undefined,
          fontSize: '14px',
          fontFamily: undefined
        }
      },
        colors: colors_code,
        responsive: [{
          breakpoint: 480,
          options: {
            legend: {
              position: 'top',
            }
          }
        }],
        plotOptions: {
          bar: {
            horizontal: false,
            columnWidth: '80%',
            dataLabels: {
              total: {
                enabled: true,
                style: {
                  fontSize: '13px',
                  fontWeight: 900
                }
              }
            }
          },
        },
        title: {
          text: title,
          align: 'middle',
          offsetY: -5,
          style: {
            fontSize: '18px'
          }
        },
        xaxis: {
          categories: labels,
          labels: {
          maxHeight: 100,
          hideOverlappingLabels: false,
          trim: true,
          },
        },
        yaxis: {
          labels: {
          formatter: function (val) {
            return Math.round(val)
          }
        }
        },
        legend: {
          position: 'top',
          offsetY: -17,
        },
        fill: {
          opacity: 1
        }
      };

      var chart = new ApexCharts(document.querySelector("#"+id), options);
      chart.render();
  }

  function ct_risks(id){
    var series = [];

    var eval = {};
    var control = {};
    var risk = {};
    var aux = {};

    Object.entries(risks).forEach(([key, value]) => {

      if (!Object.keys(eval).includes(key)){
        eval[key] = Object.keys(eval).length + 1;
        aux[key] = Object.keys(aux).length;
      }

      series.push({
        "name": key,
        "data": [],
      });

      Object.entries(value).forEach(([key2, value2]) => {
        Object.entries(value2).forEach(([key3, value3]) => {

          if (!Object.keys(control).includes(key3)){
            control[key3] = Object.keys(control).length + 1;
          }

          value3 = value3.replace("[", "");
          value3 = value3.replace("]", "");
          value3 = value3.replace(new RegExp("\'", 'g'), "");
          value3 = value3.replace(new RegExp(" ", 'g'), "");
          value3 = value3.split(',');

          for (const v of value3){

            if (!Object.keys(risk).includes(v)){
              risk[v] = Object.keys(risk).length + 1;
            }
            series[aux[key]]["data"].push([risk[v], control[key3], 6]);
          }
        });
      });
    });

    var options = {
      series: series,
      legend: {
        position: "top",
        show: true,
      },
      chart: {
        height: 400,
        type: 'scatter',
        width: '100%'
      },
      xaxis: {
        overwriteCategories: Object.keys(risk),
        labels: {
          rotate: -25,
          rotateAlways: true,
          hideOverlappingLabels: false,
          showDuplicates: false,
          style: {
            fontSize: '5px',
          }
        },
      },
      yaxis: {
        max: 10,
        labels: {
          formatter: function (value) {
            // Add your custom formatting logic here
            return Object.keys(control).filter(key => control[key] === value);
          },
        },
      },
      dataLabels: {
        enabled: false
      },
      title: {
        text: 'Risks per evaluation',
        align: 'middle',
        style: {
          fontSize: '18px'
        }
      },
      tooltip:{
        custom: function({series, seriesIndex, dataPointIndex, w}) {
          var data = w.globals.initialSeries[seriesIndex].data[dataPointIndex];

          return '<div style="margin:10px;">' +
          '<div style="font-size: 11px;">'+ '<b>' + 'Control: ' + '</b>'
          + Object.keys(control).filter(key => control[key] === data[1])+
          '</div>' +
          '<div style="font-size: 11px;">'+ '<b>' + 'Riesgo: ' + '</b>'
          + Object.keys(risk).filter(key => risk[key] === data[0])+
          '</div>';
        },
      },
    };

    var chart = new ApexCharts(document.querySelector("#"+id), options);
    chart.render();
  }
</script>

<div class="card shadow-sm mb-4" style="border-radius: 1rem; overflow: hidden;">
  <div class="card-header bg-primary d-flex justify-content-center align-items-center">
    <h5 class="mb-0 fs-2 fw-bold text-white py-3">
      {% trans "Seleccione el Dashboard que desea visualizar" %}
    </h5>
  </div>
  <div class="card-body bg-light">
    <form method="get" action="{% url 'users:ga_dashboard' %}">
      <select name="dashboard" class="form-select" onchange="this.form.submit()">
        <option value="default" {% if request.GET.dashboard == 'default' %}selected{% endif %}>
          {% trans 'Dashboard de Controles' %}
        </option>
        <option value="KRM" {% if request.GET.dashboard == 'KRM' %}selected{% endif %}>
          {% trans 'Dashboard de Riesgos' %}
        </option>
      </select>
    </form>
  </div>
</div>

<div class="accordion" id="kt_accordion_2">
  <form method="get" class="kt-form kt-form--label-right">
    <input type="hidden" name="dashboard" value="{{ dashboard }}">
    <div class="card">
      <div class="accordion-item">
        <div class="card-header" id="kt_accordion_1_header_3" style="padding: inherit">
          <!--begin::Card header-->
          <button class="accordion-button fs-3 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_3" aria-expanded="false" aria-controls="kt_accordion_1_body_3">
          {% trans 'Aplicar filtros' %}
          </button>
          <!--end::Card header-->
        </div>
        <div id="kt_accordion_1_body_3" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_3" data-bs-parent="#kt_accordion_2">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                {% include '_includes/FormErrors.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col col-12">
                <div class="row">
                  <div class="col-12">
                    {% include '_includes/FormErrors.html' %}
                  </div>
                  <div class="row mb-4 col-12 col-md-8">
                    <fieldset>
                      <div class="row">
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.evaluation|as_crispy_field }}</div>
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.company|as_crispy_field }}</div>
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.certification_year|as_crispy_field }}</div>
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.certification_period|as_crispy_field }}</div>
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.process_status|as_crispy_field }}</div>
                      </div>
                    </fieldset>
                  </div>
                  <div class="row mb-4 col-12 col-md-4 align-items-start">
                    <fieldset>
                      <legend>{% trans 'Fecha de Evaluación' %}</legend>
                      <div class="row">
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.date_evaluation_begin|as_crispy_field }}</div>
                        <div class="col-12 col-md-6 mb-6">{{ search_evaluation_form.date_evaluation_end|as_crispy_field }}</div>
                      </div>
                    </fieldset>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer py-6">
            <button class="btn btn-sm btn-primary"><i class="bi bi-plus-lg"></i>{% trans 'Buscar' %}</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="card">
  <div class="card-header">
    <div class="card-title fs-3 fw-bold">{% trans 'Gráficos' %}</div>
  </div>
  <div class="card-body">
    <div class="row mb-4">
      <div class="col-xl-6">
        <div id="chart-6-container" style="height: 400px; overflow-y: auto;">
          <div id="chart-6" style="width: 100%;"></div>
        </div>
      </div>
      <div class="col-xl-6">
        <div id="chart-7-container" style="height: 400px; overflow-x: auto;">
          <div id="chart-7"></div>
        </div>
      </div>
    </div>

    <!-- <div class="row mb-4">
      <div class="col-xl-6">
        <div id="chart-1"></div>
      </div>
      <div class="col-xl-6">
        <div id="chart-2"></div>
      </div>
    </div> -->

    <div class="row mb-4">
      <div class="col-xl-6">
        <div id="chart-3-container" style="height: 400px; overflow-x: auto;">
          <div id="chart-3"></div>
        </div>
      </div>
      <div class="col-xl-6">
        <div id="chart-4-container" style="height: 400px; overflow-x: auto;">
          <div id="chart-4"></div>
        </div>
      </div>
    </div>
    <!-- <div class="row mb-4">
      <div id="chart-5"></div>
    </div> -->
    <!-- <div class="row mb-4">
      <div id="chart-8"></div>
    </div> -->

    {% for e in evaluations %}
      <script>
        var frequencies = {"On demand": 0, "Constant": 0, "Daily": 0, "Weekly": 0, "Biweekly": 0, "Monthly": 0, "Bimonthly": 0, "Quarterly": 0, "Four-monthly": 0, "Semiannual": 0, "Annual": 0, "Biennial": 0, "Triennial": 0, "Quadrennial": 0, "Quinquenal": 0};
        var ct_types = {"preventive": 0, "detective": 0};
        var key_controls = {"key": 0, "non-key": 0};
        var ct_status = {"Not started": 0, "Awaiting Control Owner": 0, "Awaiting Control Supervisor": 0, "Awaiting Control Administrator": 0, "Finished": 0};
        var ct_result = {"effective": 0, "not-established": 0, "effective-recommendations": 0, "not-effective": 0, "not-applicable": 0};
      </script>
      {% for ct in e.get_all_control_test_in_evaluation %}
      <script>
        switch("{{ct.control.control_frequency}}"){
          case 'BD':
            frequencies['On demand'] += 1;
            break;
          case 'CO':
            frequencies['Constant'] += 1;
            break;
          case 'DI':
            frequencies['Daily'] += 1;
            break;
          case '1W':
            frequencies['Weekly'] += 1;
            break;
          case '2W':
            frequencies['Biweekly'] += 1;
            break;
          case '1M':
            frequencies['Monthly'] += 1;
            break;
          case '2M':
            frequencies['Bimonthly'] += 1;
            break;
          case '3T':
            frequencies['Quarterly'] += 1;
            break;
          case '4T':
            frequencies['Four-monthly'] += 1;
            break;
          case '6M':
            frequencies['Semiannual'] += 1;
            break;
          case '1Y':
            frequencies['Annual'] += 1;
            break;
          case '2Y':
            frequencies['Biennial'] += 1;
            break;
          case '3Y':
            frequencies['Triennial'] += 1;
            break;
          case '4Y':
            frequencies['Quadrennial'] += 1;
          case '5Y':
            frequencies['Quinquenal'] += 1;
            break;
        }

        switch ("{{ct.control.control_type}}"){
          case 'P':
            ct_types['preventive'] += 1;
            break;
          case 'D':
            ct_types['detective'] += 1;
            break;
        }

        switch ("{{ct.control.key_control}}"){
          case 'True':
            key_controls['key'] += 1;
            break;
          case 'False':
            key_controls['non-key'] += 1;
            break;
        }

        switch("{{ct.status}}"){
          case 'SI':
            ct_status['Not started'] += 1;
            break;
          case 'WO':
            ct_status['Awaiting Control Owner'] += 1;
            break;
          case 'WS':
            ct_status['Awaiting Control Supervisor'] += 1;
            break;
          case 'WA':
            ct_status['Awaiting Control Administrator'] += 1;
            break;
          case 'FI':
            ct_status['Finished'] += 1;
            break;
        }

        switch ("{{ct.result}}"){
          case "EF":
            ct_result["effective"] += 1;
            break;
          case "SE":
            ct_result["not-established"] += 1;
            break;
          case "NE":
            ct_result["not-effective"] += 1;
            break;
          case "EFR":
            ct_result["effective-recommedations"]+=1;
            break;
          case "NA":
            ct_result["not-applicable"] += 1;
            break;
        }

        if (!("{{e}}" in control_tests)){
          control_tests["{{e}}"] = ["{{ct}}"];
          evidences["{{e}}"] = ["{{ct.has_attachment}}"];
          subprocesses["{{e}}"] = [];
          risks["{{e}}"] = [];
          if ("{{ct.get_all_subprocesses|safe}}" != '[]'){
            subprocesses["{{e}}"].push("{{ct.get_all_subprocesses|safe}}");
          }
          if ("{{ct.get_all_risks|safe}}" != '[]'){
            risks["{{e}}"].push({"{{ct}}": "{{ct.get_all_risks|safe}}"});
          }
        }else{
          control_tests["{{e}}"].push("{{ct}}");
          evidences["{{e}}"].push("{{ct.has_attachment}}");
          if ("{{ct.get_all_subprocesses|safe}}" != '[]'){
            subprocesses["{{e}}"].push("{{ct.get_all_subprocesses|safe}}");
          }
          if ("{{ct.get_all_risks|safe}}" != '[]'){
            risks["{{e}}"].push({"{{ct}}": "{{ct.get_all_risks|safe}}"});
          }
        }
      </script>
      {% endfor %}
      <script>
        frequency_evaluation["{{e}}"] =  frequencies;

        control_type_evaluation["preventive"]["{{e}}"] = ct_types['preventive'];
        control_type_evaluation["detective"]["{{e}}"] = ct_types['detective'];

        key_controls_evaluation["key"]["{{e}}"] = key_controls["key"];
        key_controls_evaluation["non-key"]["{{e}}"] = key_controls["non-key"];

        ct_status_evaluation["{{e}}"] = ct_status;

        ct_result_evaluation["effective"]["{{e}}"] = ct_result["effective"];
        ct_result_evaluation["not-established"]["{{e}}"] = ct_result["not-established"];
        ct_result_evaluation["not-effective"]["{{e}}"] = ct_result["not-effective"];
        ct_result_evaluation["effective-recommendations"]["{{e}}"]= ct_result["effective-recommendations"]
        ct_result_evaluation["not-applicable"]["{{e}}"] = ct_result["not-applicable"];

        evals.push("{{e}}");
      </script>
    {% endfor %}

    <script>
      let translations= {};
      const lang= "{{ LANGUAGE_CODE }}";
      if (lang == 'es') {
        translations= JSON.parse('{{ translations_es|escapejs }}');
      } else if (lang == 'en') {
        translations= JSON.parse('{{ translations_en|escapejs }}');
      }
      console.log(translations);
      ct_control_type("chart-3", control_type_evaluation, evals, translations);
      ct_control_type("chart-4", key_controls_evaluation, evals, translations);
      ct_control_status("chart-6", ct_status_evaluation, translations);
      ct_control_type("chart-7", ct_result_evaluation, evals, translations);

      // var l_control_type = ["Preventivo", "Detectivo"];
      // var l_key_control = ["Key", "Non-key"];
      // var l_status = [["Not started", "Awaiting Control Owner", "Awaiting Control Supervisor", "Awaiting Control Administrator", "Finished"], ["No empezado", "En espera del Control Owner", "En espera del Control Supervisor", "En espera del Administrador", "Finalizado"]];
      // var l_frequencies = ["On demand", "Constante", "Diario", "Semanal", "Quincenal", "Mensual", "Bimensual", "Trimestral", "Cuatrimestral", "Semestral", "Anual", "Bienal", "Trienal", "Quinquenal"];
      // var l_result = ["Efectivo", "Sin establecer", "No efectivo", "N/A"];

      // evidence_percentage("chart-1");
      // ct_frequency("chart-2", frequency_evaluation, l_frequencies, 'Control Tests Frequency per evaluation');
      // ct_control_type("chart-3", control_type_evaluation, evals, t("dashboards.test-type"));
      // ct_control_type("chart-4", key_controls_evaluation, evals, t("dashboards.test-key"));
      // ct_subprocesses("chart-5");
      // ct_frequency("chart-6", ct_status_evaluation, t("dashboards.test-status"));
      // ct_control_type("chart-7", ct_result_evaluation, evals, t("dashboards.test-result"));
      // ct_risks("chart-8");
    </script>
  </div>
</div>

<div class="accordion" id="kt_accordion_1">
  <div class="card">
    <div class="accordion-item">
      <div class="card-header" id="kt_accordion_1_header_2" style="padding: inherit">
        <button class="accordion-button fs-3 fw-bold collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#kt_accordion_1_body_2" aria-expanded="false" aria-controls="kt_accordion_1_body_2">
        {% trans 'Resultados obtenidos' %}
        </button>
      </div>
      <div id="kt_accordion_1_body_2" class="accordion-collapse collapse" aria-labelledby="kt_accordion_1_header_2" data-bs-parent="#kt_accordion_1">
        <div class="card-body">
          {% if evaluations.count %}
            {% include '_includes/control_test/_control_test_list.html' with evaluations=evaluations%}
          {% else %}
            <div class="alert alert-primary">{% trans 'No hay tests de control disponibles' %}.</div>
          {% endif %}
        </div>

        <form method="POST" class="kt-form kt-form--label-right" novalidate style="padding: 15px;">
          {% csrf_token %}
          <input type="hidden" name="action" value="download">
          <button class="btn btn-sm btn-primary me-2"><i class="bi bi-download"></i>{% trans 'Descargar resultados' %}</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
