{% load i18n %}

<div class="c-control-test-answer">
  <div class="row">
    <div class="col col-md-7">
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Usuario' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ answer.user }}</span>
          </div>
        </div>
        <!-- end::Col -->
      </div>
      <div class="row mb-8">
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Comentario' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-9">
          <div class="fs-6">{{ answer.description|safe }}</div>
        </div>
      </div>
      <div class="row mb-8">
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Estado propuesto' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-9">
          <div class="fs-6">{{ answer.get_status_display }}</div>
        </div>
      </div>
    </div>
    <div class="col col-md-5">
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Fecha' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-9">
          <div class="fs-6">
            <span>{{ answer.created }}</span>
          </div>
        </div>
        <!-- end::Col -->
      </div>
      <div class="row mb-8">
        <!-- begin::Col -->
        <div class="col-xl-3">
          <div class="fs-6 fw-semibold">
            <span class="badge badge-secondary text-wrap">{% trans 'Evidencia' %}</span>
          </div>
        </div>
        <!-- end::Col -->
        <!-- begin::Col -->
        <div class="col-xl-9">
          <div class="attachment__item">
            {% if answer.attachment_1 %}
              <a target="blank" download href="{{ answer.attachment_1.url }}">{% trans 'Adjunto' %}</a>
            {% else %}
              {% trans 'Sin evidencia' %}
            {% endif %}
          </div>
        </div>
        <!-- end::Col -->
      </div>
    </div>
  </div>
</div>
