{% load i18n %}
{% trans "Sin asignar" as without_set %}

{% if cts.count > 0 %}

<table class="table table-striped table-row-bordered gy-5 gs-7 customDatatable">
  <thead>
    <tr>
      <th></th>
      <th>Status</th>
      <th class="text-center align-middle">{% trans 'REF' %}</th>
      <th class="text-center align-middle">{% trans 'Descripción' %}</th>
      <th class="text-center align-middle">{% trans 'Evidencia' %}</th>
      <th class="text-center align-middle">{% trans 'Dominios de riesgo' %}</th>
      <th class="text-center align-middle">{% trans 'Nº de riesgos' %}</th>
      <th class="text-center align-middle">{% trans 'Control Owner/Supervisor' %}</th>
      <th class="text-center align-middle">{% trans 'Efectividad' %}</th>
    </tr>
  </thead>
  <tbody>
    {% for ct in cts %}
    <tr>
      <td class="text-center align-middle">
        <a href="{% url 'control_tests:ru_control_test_detail' ct.pk %}">
          <i class="bi bi-pencil fs-1x text-primary"></i>
        </a>
      </td>
      <td class="text-center align-middle">
        {% if ct.status == "FI" %}
        <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">NS</span>
        {% elif ct.status == "WO" %}
        <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">WO</span>
        {% elif ct.status == "WS" %}
        <span class="badge badge-success n3" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">WS</span>
        {% elif ct.status == "WA" %}
        <span class="badge badge-success n4" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">WA</span>
        {% elif ct.status == "FI" %}
        <span class="badge badge-success n5" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_status_display %}">FI</span>
        {% endif %}
      </td>
      <td class="text-center align-middle">
        <a href="{% url 'control_tests:ru_control_test_detail' ct.pk %}">
          <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" title="{% trans Detalle %}">{{ ct.identifier }}</span>
        </a>
      </td>
      <td class="align-middle">
        <div style="display:flex;">
          <div style="width:90%">
            {{ ct.control.description|striptags|truncatechars:100 }}
          </div>
          <div style="width:10%">
            <i class="bi bi-file-earmark-text fs-1x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="{{ ct.control.description|striptags }}"
              style="margin-right:5px;"></i>
          </div>
        </div>
      </td>
      <td class="text-center align-middle">
        <i class="bi bi-file-earmark-text fs-2x text-primary" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{{ ct.control.testing_procedure|striptags }}"
          style="margin-right:5px;"></i>
      </td>
      <td class="text-center align-middle">
        {% for dom in ct.get_control_test_domain_risks.all %}
        <span class="badge badge-primary" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{{ dom.name }}">{{ dom.ref }}</span>
        {% endfor %}
      </td>
      <td class="text-center align-middle">
        <span class="badge badge-info">{{ ct.get_control_test_risks_company.count }}</span>
      </td>
      <td class="text-center align-middle">
        {% if ct.control_test_owner %}
        <span class="badge badge-success" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" data-bs-delay-show="250"
          title="{{ ct.control_test_owner.full_name }} ({{ ct.control_test_owner.position }})" id="box-child">CO: {{ ct.control_test_owner.username_no_domain }}</span>
        {% else %}
        {% trans 'Sin asignar' %}
        {% endif %}
        {% if ct.control_test_supervisor %}
        <span class="badge badge-success" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" data-bs-delay-show="250"
          title="{{ ct.control_test_supervisor.full_name }} ({{ ct.control_test_supervisor.position }})"
          id="box-child">CS: {{ ct.control_test_supervisor.username_no_domain }}</span>
        {% else %}
        {% trans 'Sin asignar' %}
        {% endif %}
      </td>
      <td class="text-center align-middle">
        {% if ct.result == "SE" %}
        <span class="badge badge-success n1" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">NS</span>
        {% elif ct.result == "EF" %}
        <span class="badge badge-success n5" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">EF</span>
        {% elif ct.result == "NE" %}
        <span class="badge badge-success n2" data-bs-toggle="tooltip" data-bs-placement="top"
          data-bs-custom-class="custom-tooltip" title="{% trans ct.get_result_display %}">NE</span>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}

<div class="alert alert-primary" role="alert">
  {% trans 'Sin controles' %}
</div>

{% endif %}